.custom{
    flex: 1;
}
.cutombox{
    border: 0.2px solid #1c84c6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .invalid-feedback {
    color: red;
    font-size: 12px;
  }
  .filtor_name{

    color: black;
    font-weight: 700;
    font-family: sans-serif;
  }
  .is-invalid {
    border: 1px solid red;
    border-radius: 4px;
  }
  
  .invalid-feedback {
    color: red;
    font-size: 12px;
  }
  .title{
    color: #1D4380;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 600;
  }
  .chart-container3{
    width: 100%;
  }
  table.dataTable tbody td {
    padding: 2px 10px!important;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-margin {
  margin-top: 10px; /* Adjust the value to your needs */
  margin-bottom: 10px; /* Adjust the value to your needs */
}
