<div class="card">
  <div class="card-body innerdiv p-0">
    <!-- headerstart here -->
    <div class="hor-header">
      <div style="overflow: hidden">
        <div class="row align-items-left">
          <div class="col-lg-1">
            <button
              class="app-sidebar__toggle ms-auto"
              (click)="sidebarToggle()"
            ></button>
          </div>
          <div class="col-lg-2"></div>
          <div
            class="col-lg-4"
            style="
              font-weight: 600;
              font-size: large;
              text-align: center;
              margin-top: 15px;
            "
          >
            <span style="margin-right: -104px"
              >ILGIC Consolidated Dashboard
            </span>
          </div>
          <div class="col-lg-2 text-center"></div>

          <div class="col-lg-1"></div>
          <div class="col-lg-1">
            <!-- <a  routerLink="/ILgic/createTrip"><i class="fa fa-plus-circle" aria-hidden="true" style="font-size: 20px;color: #1D4380;"></i></a>  -->
          </div>
          <div class="col-lg-1 text-center">
            <a class="header-brand1">
              <img
                src="assets/images/itraceit_logo1.png"
                alt="ILGIC Logo"
                class="header-brand-img desktop-logo"
                style="height: auto; width: 80%"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- //////////////////////////////////header end////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////filter/////// -->

<!-- ////////////////////////////////filter end//////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////card//////////////////////////////////////////////// -->
<div class="col-lg-12" style="margin-top: -20px">
  <ngx-spinner
    bdColor="rgba(51, 51, 51, 0.8)"
    size="default"
    [fullScreen]="true"
    type="ball-spin-clockwise"
    name="ilgicDashboardSpinner"
  >
    <p style="color: black">Please Wait..</p>
  </ngx-spinner>
  <div class="fiter col-md-10">
    <p class="mb-2">
      <a
        data-bs-toggle="collapse"
        data-bs-target="#collapseExample"
        role="button"
        aria-expanded="false"
        aria-controls="collapseExample"
        style="font-size: 16px"
      >
        <i
          class="fa fa-filter"
          aria-hidden="true"
          style="font-size: 20px; color: gray; margin-top: 8px"
        ></i
        >FILTER
      </a>
    </p>
    <div class="collapse" id="collapseExample">
      <div>
        <div
          class="card card-body pt-0"
          style="border: none; box-shadow: none; margin-bottom: 0px"
        >
          <form
            [formGroup]="filterForm_M"
            (ngSubmit)="onFilterConsolidatedDashboard()"
          >
            <div class="row col-12 ps-0">
              <div class="col-md-2">
                <label class="m-0" for="from_date">From</label>
                <input
                  id="from_date"
                  type="date"
                  formControlName="from_date"
                  class="form-control cutombox"
                  placeholder="Select Start Date..."
                  [ngClass]="{
                    'border-danger':
                      filterForm_M.get('from_date')?.touched &&
                      filterForm_M.get('from_date')?.invalid
                  }"
                />
                <span
                  style="font-size: 11px"
                  *ngIf="filterForm_M.get('from_date')?.touched && filterForm_M.get('from_date')?.errors?.['required']"
                  class="text-danger position-absolute text-sm-center"
                >
                  Select start date.
                </span>
              </div>
              <div class="col-md-2">
                <label class="m-0" for="to_date">To</label>
                <input
                  id="to_date"
                  type="date"
                  formControlName="to_date"
                  class="form-control cutombox"
                  placeholder="Select End Date..."
                  [ngClass]="{
                    'border-danger':
                      filterForm_M.get('to_date')?.touched &&
                      filterForm_M.get('to_date')?.invalid
                  }"
                />
                <span
                  style="font-size: 11px"
                  *ngIf="filterForm_M.get('to_date')?.touched && filterForm_M.get('to_date')?.errors?.['required']"
                  class="text-danger position-absolute text-sm-center"
                >
                  Select end date.
                </span>
              </div>
              <div class="col-md-2">
                <label class="m-0" for="customer">Customer</label>
                <ng-select
                  id="customer"
                  formControlName="customer_id"
                  appearance="outline"
                  [searchable]="false"
                  placeholder="Select Customer"
                  class="custom-ng-select cutombox"
                  [ngClass]="{
                    'border-danger':
                      filterForm_M.get('customer_id')?.touched &&
                      filterForm_M.get('customer_id')?.invalid
                  }"
                >
                  <ng-option
                    *ngFor="
                      let customer of ilgicDashboardData?.filter_transporter
                        | keyvalue
                    "
                    [value]="customer.key"
                  >
                    {{ customer.value }}
                  </ng-option>
                </ng-select>
                <span
                  style="font-size: 11px"
                  *ngIf="filterForm_M.get('customer_id')?.touched && filterForm_M.get('customer_id')?.errors?.['required']"
                  class="text-danger position-absolute text-sm-center"
                >
                  Select customer.
                </span>
              </div>
              <div class="col-md-2">
                <label class="m-0" for="gps_vendor">GPS Vendor</label>
                <ng-select
                  id="gps_vendor"
                  class="cutombox"
                  formControlName="gps_vendor"
                  appearance="outline"
                  [searchable]="false"
                  placeholder="Select GPS Vendor"
                  [ngClass]="{
                    'border-danger':
                      filterForm_M.get('gps_vendor')?.touched &&
                      filterForm_M.get('gps_vendor')?.invalid
                  }"
                >
                  <ng-option
                    *ngFor="
                      let customer of ilgicDashboardData?.filter_gps_vendor
                        | keyvalue
                    "
                    [value]="customer.key"
                  >
                    {{ customer.value }}
                  </ng-option>
                </ng-select>
                <span
                  style="font-size: 11px"
                  *ngIf="filterForm_M.get('gps_vendor')?.touched && filterForm_M.get('gps_vendor')?.errors?.['required']"
                  class="text-danger position-absolute text-sm-center"
                >
                  Select gps Vendor.
                </span>
              </div>
              <div class="col-md-2">
                <label class="m-0" for="agent_id">Agent</label>
                <ng-select
                  id="agent_id"
                  class="cutombox"
                  formControlName="agent_id"
                  appearance="outline"
                  [searchable]="false"
                  placeholder="Select Agent"
                  [ngClass]="{
                    'border-danger':
                      filterForm_M.get('agent_id')?.touched &&
                      filterForm_M.get('agent_id')?.invalid
                  }"
                >
                  <ng-option
                    *ngFor="
                      let customer of ilgicDashboardData?.filter_agent
                        | keyvalue
                    "
                    [value]="customer.key"
                  >
                    {{ customer.value }}
                  </ng-option>
                </ng-select>
                <span
                  style="font-size: 11px"
                  *ngIf="filterForm_M.get('agent')?.touched && filterForm_M.get('agent')?.errors?.['required']"
                  class="text-danger position-absolute text-sm-center"
                >
                  Select Agent
                </span>
              </div>

              <div class="col-md-2 gap-3 text-end d-flex align-items-end">
                <button
                  style="background-color: #1d4380"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseExample"
                  type="submit"
                  
                  class="p-2 px-4 rounded-0 btn-orange shadow-none"
                  [disabled]="filterForm_M.invalid"
                  [ngClass]="{
                    'disabled-button': filterForm_M.invalid,
                    'enabled-button': filterForm_M.valid
                  }"
                >
                  Submit
                </button>
                <button
                (click)="resetFilter(filterForm_M)"
                style="background-color: #224222"
                ngbTooltip="reset filter"
                data-bs-toggle="collapse"
                data-bs-target="#collapseExample"
                type="button"
                class="p-2 px-4 rounded-0 btn-orange shadow-none"
             
              >
                reset
              </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- </ng-container> -->
      <!-- <div class=" " ><i class="fa fa-filter" aria-hidden="true"></i></div>    -->
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-0">
        <div class="card status-card">
          <div class="card-body">
            <h5 class="card-title">Vehicle Status</h5>
            <div class="row">
              <div class="col-6">
                <div id="consSt" class="chart-container"></div>
              </div>
              <div
                class="col-6"
                style="margin-top: -33px; text-align-last: right"
              >
                <img
                  src="assets/images/vehiclestatusnew.png"
                  alt="Vehicle Status"
                  style="height: 50%"
                />
              </div>
              <div class="col-12 mt-0 custom">
                <span class="status-text" style="color: #6abd46" id="numberH">{{
                  SummaryData?.vehicleStatus?.running
                }}</span
                >/
                <span class="status-text" style="color: #97291e" id="numberH">{{
                  SummaryData?.vehicleStatus?.stoppage
                }}</span
                >/
                <span class="status-text" style="color: grey" id="numberH">{{
                  SummaryData?.vehicleStatus?.inactive
                }}</span
                >/
                <span class="status-text" style="color: #1d4380" id="numberH">{{
                  SummaryData?.vehicleStatus?.nongps
                }}</span>
              </div>
            </div>
            <!-- (click)="consSTtAct('ConsignmentStatus','NonGps')" -->
            <div class="status-legend mt-1">
              <span style="color: #6abd46">
                <i class="fas fa-square-full" style="margin-right: 2px"></i>
                Running
              </span>
              <span style="color: #97291e">
                <i class="fas fa-square-full" style="margin-right: 2px"></i>
                Stop
              </span>
              <span style="color: grey">
                <i class="fas fa-square-full" style="margin-right: 2px"></i>
                In-Active
              </span>
              <span style="color: #1d4380">
                <i class="fas fa-square-full" style="margin-right: 2px"></i> Non
                GPS
              </span>
            </div>
          </div>
        </div>
      </div>
      <!-- Repeat similar structure for other cards -->
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-0">
        <div class="card status-card">
          <div class="card-body">
            <h5 class="card-title">Customer</h5>
            <div class="row">
              <div class="col-6">
                <div id="tripSt" class="chart-container"></div>
              </div>
              <div
                class="col-6"
                style="margin-top: -33px; text-align-last: right"
              >
                <img
                  src="assets/images/custo.png"
                  alt="Trip Status"
                  style="height: 50%"
                />
              </div>
              <div class="col-12 mt-0 custom">
                <span class="status-text" style="color: #ec6625" id="numberH">{{
                  SummaryData?.customer?.existing_client
                }}</span
                >/
                <span class="status-text" style="color: #1d4380" id="numberH">{{
                  SummaryData?.customer?.new_client
                }}</span>
              </div>
            </div>
            <div class="status-legend mt-1">
              <span style="color: #ec6625"
                ><i class="fas fa-square-full" style="margin-right: 2px"></i
                >Existing Client</span
              >
              <span style="color: #1d4380"
                ><i class="fas fa-square-full" style="margin-right: 2px"></i>New
                Client</span
              >
            </div>
          </div>
        </div>
      </div>
      <!-- Repeat similar structure for other cards -->
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-0">
        <div class="card status-card">
          <div class="card-body">
            <h5 class="card-title">IoT</h5>
            <div class="row">
              <div class="col-6">
                <div id="deliverySt" class="chart-container"></div>
              </div>
              <div
                class="col-6"
                style="margin-top: -30px; text-align-last: right"
              >
                <img
                  src="assets/images/iot.png"
                  alt="Delivery Status"
                  style="height: 50%"
                />
              </div>
              <div class="col-12 mt-0 custom">
                <span class="status-text" style="color: #ec6625" id="numberH">{{
                  SummaryData?.Iot?.gps
                }}</span
                >/
                <span class="status-text" style="color: #1d4380" id="numberH">{{
                  SummaryData?.Iot?.elock
                }}</span
                >/
                <span class="status-text" style="color: grey" id="numberH">{{
                  SummaryData?.Iot?.fuelsensor
                }}</span>
              </div>
            </div>
            <div class="status-legend mt-1">
              <span style="color: #ec6625"
                ><i class="fas fa-square-full" style="margin-right: 2px"></i
                >GPS</span
              >
              <span style="color: #1d4380"
                ><i class="fas fa-square-full" style="margin-right: 2px"></i
                >E-Lock</span
              >
              <span style="color: grey"
                ><i class="fas fa-square-full" style="margin-right: 2px"></i
                >Fuel Sensor</span
              >
            </div>
          </div>
        </div>
      </div>
      <!-- Repeat similar structure for other cards -->
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-0">
        <div class="card status-card">
          <div class="card-body">
            <h5 class="card-title">Travel States</h5>
            <div class="row">
              <div class="col-6">
                <div id="travelStates" class="chart-container"></div>
              </div>
              <div
                class="col-6"
                style="margin-top: -30px; text-align-last: right"
              >
                <img
                  src="assets/images/travelStates.png"
                  alt="Delivery Status"
                  style="height: 50%"
                />
              </div>
              <!-- <div class="col-12 mt-0 custom">
                <span class="status-text" style="color:#EC6625;"
                  id="numberH">{{SummaryData?.Iot?.gps}}</span>/
                <span class="status-text" style="color:#1D4380;" 
                  id="numberH">{{SummaryData?.Iot?.elock}}</span>/
                <span class="status-text" style="color:grey;" 
                  id="numberH">{{SummaryData?.Iot?.fuelsensor}}</span>

              </div> -->
              <div class="col-12 mt-0 custom">
                <span
                  *ngFor="let state of vehicleStates; let i = index"
                  class="status-text"
                  [style.color]="
                    i === 0
                      ? '#EC6625'
                      : i === 1
                      ? '#97291E'
                      : i === 2
                      ? '#1D4380'
                      : i === 3
                      ? 'grey'
                      : '#6ABD46'
                  "
                  id="numberH"
                >
                  {{ state.value }}
                  <span *ngIf="i < vehicleStates.length - 1">/</span>
                </span>
              </div>
            </div>
            <div class="status-legend mt-1">
              <span
              *ngFor="let state of vehicleStates; let i = index"
              class="status-text"
              [style.color]="
                i === 0
                  ? '#EC6625'
                  : i === 1
                  ? '#97291E'
                  : i === 2
                  ? '#1D4380'
                  : i === 3
                  ? 'grey'
                  : '#6ABD46'
              "
              id="numberH"
            >
                <i class="fas fa-square-full" style="margin-right: 2px"></i>
                {{ state.name }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- //////////////////////////////////////////////////////////////////////////////////////// -->
</div>
<!-- /////////////////////////////////card end///////////////////////////////////////////////////////////////////////////////// -->
<!-- <div class="card" style="overflow-x: hidden;">
    <div class="row" style="overflow-x: hidden;">
       
       
              
                
              
                <div id="barchart" ></div>
           
    
       
      
       
    </div>
    </div> -->

<!-- ///////////////////////////////////////////////////////////////////////////////////// -->
<div class="container-fluid" style="margin-top: -30px">
  <div class="row">
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-3">
      <div class="chart-container2">
        <div id="barchart1"></div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-3">
      <div class="chart-container2">
        <div id="barchart2"></div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-3">
      <div class="chart-container2">
        <div id="barchart3"></div>
      </div>
    </div>
  </div>
</div>
<!-- ///////////////////////////////////bar chart//////////////////////////////////////////////// -->
<div class="container" style="overflow: hidden; margin-top: -55px">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="chart-container3">
        <div id="linechart"></div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="chart-container3">
        <div id="barchart"></div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="chart-container1">
  <div id="barchart"></div>
</div> -->
<!-- /////////////////////////////////////////////////vehicle poup/////////////////////////////////////////////// -->
<div
  class="modal fade"
  id="summaryModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
>
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header" style="height: 45px">
        <div class="centered-text">Vehicle Status-{{ typeName }} Report</div>

        <!-- <form #triggerHistoryForm="ngForm" (ngSubmit)="triggerHstSubmit(triggerHistoryForm.value)"> -->

        <!-- </form> -->
        <button
          type="button"
          class="btn-close btn-sm"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div style="overflow-y: auto">
          <ngx-spinner
            bdColor="rgba(51, 51, 51, 0.8)"
            size="default"
            [fullScreen]="true"
            type="ball-spin-clockwise"
            name="summeryvehi"
          >
            <p style="color: black">Please Wait..</p>
          </ngx-spinner>
          <table
            class="display nowrap table"
            cellspacing="0"
            id="vehicleTable"
            width="100%"
          >
            <thead>
              <tr style="text-align: center">
                <th class="table-primary">S.No.</th>

                <th class="table-primary">Vehicle Number</th>
                <th class="table-primary">Status</th>

                <th class="table-primary">Speed</th>
                <th class="table-primary">Battery(%)</th>

                <th class="table-primary">Current Date</th>
                <th class="table-primary">Last Halt</th>
                <th class="table-primary">Ignition</th>
                <th class="table-primary">IOT</th>
                <th class="table-primary">Current Location</th>
                <th class="table-primary">GPS Service provider</th>
              </tr>
            </thead>
            <tbody>
              <tr
                style="text-align: center"
                *ngFor="let item of summaryVehicle[0]; let ind = index"
              >
                <td>{{ ind + 1 }}</td>

                <td>{{ item.vehicle_no }}</td>
                <td>{{ item?.vehicle_status }}</td>
                <!-- <td>{{ item.speed | number:'1.2-2' }}</td> -->
                <td>{{ item.speed | number:'1.0-2' }}</td>
                <td>{{ item?.battery === '-' ? 'NA' : item?.battery }}</td>

                <!-- <td>{{item?.speed}}</td> -->

                <td>{{ item.current_date }}</td>
                <td>{{ item.last_halt }}</td>
                <td>{{ item.ignition }}</td>
                <td>{{ item.iot }}</td>
                <td>{{ item.current_location }}</td>
                <td>{{ item.gps_service_provider }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /////////////////////////////////////customer/////////////////////////////////////////// -->
<div
  class="modal fade"
  id="deliveryModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
>
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header" style="height: 45px">
        <div class="centered-text">Customer -{{ typeName }} Report</div>

        <!-- <form #triggerHistoryForm="ngForm" (ngSubmit)="triggerHstSubmit(triggerHistoryForm.value)"> -->

        <!-- </form> -->
        <button
          type="button"
          class="btn-close btn-sm"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div style="overflow-y: auto">
          <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" [fullScreen]="true" type="ball-spin-clockwise"
            name="summeryvehi">
            <p style="color: black">Please Wait.. </p>
          </ngx-spinner>
          <table
            class="display nowrap table"
            cellspacing="0"
            id="customerTable"
            width="100%"
          >
            <thead>
              <tr style="text-align: center">
                <th class="table-primary">S.No.</th>

                <th class="table-primary">Customer Name</th>
                <th class="table-primary">Code</th>
                <th class="table-primary">No of Vehicles</th>
                <th class="table-primary">Incorporation Date</th>
                <th class="table-primary">Rating</th>
              </tr>
            </thead>
            <tbody>
              <tr
                style="text-align: center"
                *ngFor="let item of summaryVehicle[0]; let ind = index"
              >
                <td>{{ ind + 1 }}</td>
                <td>{{ item.customer_name }}</td>
                <td>{{ item.customer_code }}</td>
                <td>{{ item.no_of_vehicle }}</td>
                <td>{{ item.incrprtn_date }}</td>
                <td>{{ item.rating }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /////////////////////////////////////Iot/////////////////////////////////////////// -->
<div
  class="modal fade"
  id="IotModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
>
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header" style="height: 45px">
        <div class="centered-text">IOT-{{ typeName }} Report</div>

        <!-- <form #triggerHistoryForm="ngForm" (ngSubmit)="triggerHstSubmit(triggerHistoryForm.value)"> -->

        <!-- </form> -->
        <button
          type="button"
          class="btn-close btn-sm"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div style="overflow-y: auto">
          <ngx-spinner
            bdColor="rgba(51, 51, 51, 0.8)"
            size="default"
            [fullScreen]="true"
            type="ball-spin-clockwise"
            name="summeryvehi"
          >
            <p style="color: black">Please Wait..</p>
          </ngx-spinner>
          <table
            class="display nowrap table"
            cellspacing="0"
            id="IotTable"
            width="100%"
          >
            <thead>
              <tr style="text-align: center">
                <th class="table-primary">S.No.</th>

                <th class="table-primary">Vehicle Number</th>
                <th class="table-primary">Status</th>

                <th class="table-primary">Speed</th>
                <th class="table-primary">Battery</th>

                <th class="table-primary">Current Date</th>
                <th class="table-primary">Last Halt</th>
                <th class="table-primary">Ignition</th>
                <th class="table-primary">IOT</th>
                <th class="table-primary">Current Location</th>
                <th class="table-primary">GPS Service provider</th>
              </tr>
            </thead>
            <tbody>
              <tr
                style="text-align: center"
                *ngFor="let item of summaryVehicle[0]; let ind = index"
              >
                <td>{{ ind + 1 }}</td>

                <td>{{ item.vehicle_no }}</td>
                <td>{{ item?.vehicle_status }}</td>
                <td>{{ item.speed }}</td>
                <td>{{ item?.battery }}</td>

                <!-- <td>{{item?.speed}}</td> -->

                <td>{{ item.current_date }}</td>
                <td>{{ item.last_halt }}</td>
                <td>{{ item.ignition }}</td>
                <td>{{ item.iot }}</td>
                <td>{{ item.current_location }}</td>
                <td>{{ item.gps_service_provider }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- <div class="modal-footer" >
  
  
             <i class="fe fe-truck" tooltipClass="customActive-tooltip-class" ngbTooltip="Device 1"
            style="font-size: 20px;color: blue;" id="blink"></i>
           <i class="fe fe-truck" tooltipClass="customInStopped-tooltip-class" ngbTooltip="Device 2"
            style="font-size: 20px;color: red;" id="blink"></i> -->

      <!-- <button type="button" class="btn btn" data-bs-dismiss="modal"
              style="background-color:#1c84c6;border-color: #1c84c6;color: white ;">Close</button> -->

      <!-- </div> -->
    </div>
  </div>
</div>
<!-- /////////////////////////////////////Trip/////////////////////////////////////////// -->
<div
  class="modal fade"
  id="TripModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
>
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header" style="height: 45px">
        <div class="centered-text">Trip Status-{{ typeName }} Report</div>

        <!-- <form #triggerHistoryForm="ngForm" (ngSubmit)="triggerHstSubmit(triggerHistoryForm.value)"> -->

        <!-- </form> -->
        <button
          type="button"
          class="btn-close btn-sm"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div style="overflow-y: auto">
          <ngx-spinner
            bdColor="rgba(51, 51, 51, 0.8)"
            size="default"
            [fullScreen]="true"
            type="ball-spin-clockwise"
            name="summeryvehi"
          >
            <p style="color: black">Please Wait..</p>
          </ngx-spinner>
          <table
            class="display nowrap table"
            cellspacing="0"
            id="TripTable"
            width="100%"
          >
            <thead>
              <tr style="text-align: center">
                <th class="table-primary">S.No.</th>

                <th class="table-primary">Region</th>
                <th class="table-primary">District</th>
                <th class="table-primary">GPS Status</th>
                <th class="table-primary">Transporter Name & NUmber</th>
                <th class="table-primary">Delivery Status</th>
                <th class="table-primary">Arrival Status</th>
                <th class="table-primary">Block</th>
                <th class="table-primary">GroupID</th>
                <th class="table-primary">Location</th>

                <th class="table-primary">Challan No.</th>
                <th class="table-primary">Challan Date</th>
                <th class="table-primary">Vehicle No</th>

                <th class="table-primary">RF</th>
                <th class="table-primary">Un-Auth</th>
                <th class="table-primary">FC</th>
                <th class="table-primary">En-STP</th>
                <th class="table-primary">RD</th>
                <th class="table-primary">Trip Status</th>

                <!-- <th class="table-primary">Delivery Distance</th> -->
              </tr>
            </thead>
            <tbody>
              <!-- <tr  style="text-align: center;" *ngFor="let item of summaryVehicle;let ind=index">
                  
                
                 
                 
                 
                  <td>{{ind+1}}</td>
                  <td>{{item.region_code}}</td>
                  <td>{{item?.district}}</td>
                  <td>{{item.gps_status}}</td>
                  <td>{{item.transporter_display_name}}</td>
                  <td>{{item.delivery_status_new}}</td>
                  <td>{{item?.arrival_status}}</td>
                  <td>{{item.block_full_name}}</td>
                  <td>{{item?.group_id}}</td>
                  <td>{{item.src_code}}</td>
                  <td>{{item.shipment_no}}</td>
                  <td>{{item.challan_date}}</td>
                  <td>{{item.vehicle_no}}</td>
                  
                 
                 
                  <td>{{item.red_flag_count}}</td>
                  <td>{{item.un_auth_loc_count}}</td>
                  <td>{{item.forceful_closure_count}}</td>
                  <td>{{item.enroute_count}}</td>
                  <td>{{item.dfg_count}}</td>
                  <td>{{item.trip_status}}</td>
                 
                  
              
  
                  
  
                </tr> -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- <div class="table-responsive" style="margin-top: 124px;">
  <table class="table table-bordered">
      <thead>
          <tr>
              <th class="text-center">
                    Row Number
                </th>
              <th class="text-center">
                    Remove Row
                </th>
          </tr>
      </thead>
      <tbody id="tbody">

      </tbody>
  </table>
</div>
<button class="btn btn-md btn-primary"
      id="addBtn" type="button">
  Add New Row
</button> -->
