
<!-- <div class="app sidebar-mini sidenav-toggled">
    <div class="page">
        <div class="page-main">
            <div class="app-content" style="overflow-x: hidden !important ;">
                <router-outlet> </router-outlet>
            </div>
        </div>
        <app-notification-sidemenu></app-notification-sidemenu>
    </div>
</div> -->





<div class="app sidebar-mini"  >
    <div class="page">
        <div class="page-main">
            <!-- sidebar -->
            <app-sidemenu></app-sidemenu>
            <div class="app-content">
                <div class="side-app">
                    <!-- header -->
                    <!-- <app-header></app-header> -->

                    <router-outlet> </router-outlet>
                </div>
            </div>
        </div>
        <app-notification-sidemenu></app-notification-sidemenu>
        <!-- footer  -->
        <!-- <app-footer></app-footer> -->
    </div>
</div>
 
<!-- <div class="app sidebar-mini"  >
    <div class="page">
        <div class="page-main">
           
            <div class="row">
                <div class="col-lg-12">
                <app-header></app-header>
            </div>
            </div>
            <div class="row " style="margin-top: 80px" >
               
            <div class="app-content">
             
                <div class="side-app">
                   
                    

                    <router-outlet> </router-outlet>
                </div>
            </div>
            
            </div>
        </div>
        <app-notification-sidemenu></app-notification-sidemenu>
       
        <app-footer></app-footer>
    </div>
</div> -->