.app-content .side-app{
    padding: 0px 0px 0 0px;

}
.app-content{
    overflow: unset !important;
}
.sidebar-mini.sidenav-toggled .app-content {
    // margin-left: 0px !important;
    // height: 100% !important;
    //  margin-top: 0px !important; 
}
.app-content {
    /* margin-left: 250px; */
    // margin-left: 170px;
    margin-right: 0px !important;
     margin-top: 0px !important; 
}