

.nav-link.active {
    // height: 45px;
    color: #1c84c6 !important;
    background-color: #fff !important;
    border: 2px solid !important;
    font-size: 15px !important;
    border-color: #dee2e6 #d3d4de #fff !important;
    // padding: 11px 22px !important;
    font-family: sans-serif;
    font-weight: bold;
    // transform: scale(1.1);
    // transition: transform 0.2s;
  
  }
  .nav-link{
    font-size: 14px !important;
    font-family: sans-serif;
    padding-top: 0px;
    height: 6vh;
    padding-bottom: 0px;
  }
  
  .nav-link:hover{
      background: none !important;
      color: black !important;
  }

  
.status-card {
  // height: 65%;
  width: 100%;
  // background-color: ;
}

.chart-container {
  margin-top: -50px;
  margin-bottom: -60px;
}

.status-text {
  cursor: pointer;
}

.status-legend {
  font-size: 11px;
}

.status-legend span {
  margin-left: 1px;
  padding-left: 2px;
}
.centered-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust the height as needed */
  font-weight: 500;
  font-size: 16px;
  margin-left: 45%;
}
#numberH:hover{
  font-size: 14px;
  font-weight: 900;
}
#numberH{
  font-size: 14px;
  font-weight: 600;
}
.chart-container1 {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  // top: 0;
  // left: 0;
}
.setv{
  margin-top: 9px;
  margin-left: 8px;
  height: 19px;
  width: 15px;
  border-radius: 2px;
}
.setbox{
  font-size: 15px;
  margin-top: 8px;
  margin-left: -24px;
  margin-right: 9px;
  font-weight: 700;
}
.custom{
text-align-last: right;
}
.status-legend {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.status-item {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}
.chart-container3 {
  width: 100%;
  height: 0;
  padding-bottom: 0%; /* 4:3 aspect ratio */
  position: relative;
  left: 0!important;
  margin-top: -22%;
}

.chart-container3 > div {
  position: absolute;
  width: 100%;
  height: 100%;
}
.chart-container2 {
  width: 100%;
  height: 0;
  padding-bottom: 75%; /* 4:3 aspect ratio */
  position: relative;
  left: 0!important;
  margin-top: -5%;
}

.chart-container2 > div {
  position: absolute;
  width: 100%;
  height: 100%;
}
//   .status-item i {
//     margin-right: 5px;
//   }

//   #chartdummy {
//     width: 100%;
//     height: 100%;
//     overflow-x: auto; /* Set an appropriate height for your chart */
// }

// @media only screen and (min-width: 576px) {
//     #chartdummy {
//         // height: 400px;
//         width: 400px; /* Adjust height for small devices (sm) */
//     }
// }

// @media only screen and (min-width: 768px) {
//     #chartdummy {
//         // height: 500px; /* Adjust height for medium devices (md) */
//         width: 500px;
//     }
// }

// @media only screen and (min-width: 992px) {
//     #chartdummy {
//         // height: 600px; /* Adjust height for large devices (lg) */
//         width: 600px;
//     }
// }

// @media only screen and (min-width: 1200px) {
//     #chartdummy {
//         // height: 700px; /* Adjust height for extra large devices (xl) */
//         width: 1200px;
//     }
// }


/* Responsive typography */
// .filtor_name{
     
//   font-family: sans-serif;
// //   font-size: 13px;
//   font-weight: 500;
//   // box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

// }
// .ng-select-container {
//   // border-color: red;
//   box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px, !important;
// }

.filtor_name{
  color: #080808;
  font-weight: 700;
  font-family: sans-serif;
  margin: 0;
 
}
.cutombox{
  border: 0.5px solid #1c84c6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  height: 33px;
}
.btn-sub {
  background-color: #EC6625;
  color: white;
  // margin-top: 50px;

 
}
.colmun{
    flex: 1;
}

.btn-container {
    display: flex;
    justify-content: center;
  }
  .btn-container .btn {
    margin-right: 10px;
  }
  .btn-container .btn:last-child {
    margin-right: 0;
  }
  .btn-custome{
    background-color: #EC6625;
    color: white;
  }
  .btn-custume2{
    background-color: #1D4380;
    color: white;
  }