.btn-indigo {
    color: #fff !important;
    background-color: #6574cd !important;
    border-color: #6574cd !important;
}
.btn-close:focus{
    box-shadow: none !important;
}

::ng-deep{
    .dark-mode{
        .btn-close{
            background: none !important;
            color: transparent !important;
        }
    }
}