@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.hor-header .header-brand-img {
    // margin-left: 80px;
    margin-top: -18px!important;
}
.header-brand-img {
    height: 65px !important;
}
.innerdiv{
    margin-top: 0px;
    padding-top: 0px
}
.io-set{
    // border: 1px solid #8080808c;
    min-width: 179px;
    border-radius: 3px;
}
#map2
    {
        height: 500px;
        width: 100%;
    }
    #map1
    {
        height: 100%;
        width: 100%;
    }
    .map-table-marker{
        color: #1D4380; cursor: pointer;
    }
    th {
        text-transform: none !important;
    }
    .badge {
        background: white;
        color: red;
        font-weight: bold;
        font-size: small;
        padding: 2px 6px;
        border-radius: 4px;
        margin-right: 49px;
    margin-left: 2px;
    }
    .headerlabel {
        width: 100%;
        font-weight: bold;
        font-size: small;
        color: white;
    }
    .filtor_name{
        font-family: "Work Sans", sans-serif;
      font-size: 15px;
      font-weight: 500;
      // line-height: 21.11px;
      color: #1D4380;
      text-align: left;
      }