<div class="col col-login mx-auto ">
    <div class="text-center">
        <img src="../../assets/images/brand/logo.png" class="header-brand-img" alt="">
    </div>
</div>
<!-- CONTAINER OPEN -->
<div class="container-login100 login-img ">
    <div class="row">
        <div class="col col-login mx-auto">
            <form [formGroup]="Forgetpassword" class="card shadow-none" method="post" (ngSubmit)="forget_password()">
                <div class="card-body p-6">
                    <h3 class="text-center card-title">Forgot password</h3>
                        <div class="wrap-input100 validate-input" >
                            <input class="input100" type="text" name="" placeholder="GroupId"formControlName="groupid"  >
                             <!-- <span *ngIf="sub && Forgetpassword.controls['groupid'].value==''"></span> -->
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="wrap-input100 validate-input" >
                            <input class="input100" type="text" name="email" placeholder="Username"formControlName="userid"
                            [ngClass]="{'input-error':sub && Forgetpassword.controls['userid'].value==''}">
                            
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </span>
                        </div>
                        <span *ngIf="sub && Forgetpassword.controls['userid'].value==''" class="red-color">*Required</span>
                        <!-- <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                            <input class="input100" type="text" name="email" placeholder="Email"formControlName="email"
                            [ngClass]="{'input-error':sub && Forgetpassword.controls['email'].value==''}">
                            <span *ngIf="sub && Forgetpassword.controls['email'].value==''" class="red-color">Email is required</span>
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="zmdi zmdi-email" aria-hidden="true"></i>
                            </span>
                        </div> -->
                        <div class="form-footer">
                            <button type="submit" class="btn btn-primary btn-block">Send</button>
                        </div>
                        <div class="text-center text-muted mt-3 ">
                        Forget it, <a routerLink="/">send me back</a> to the sign in screen.
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
<!-- CONTAINER CLOSED -->