.header-brand1 img {
    height: auto;
    width: 100%;
  }
  /* Style for the ng-select container */
// ng-select {
//     display: inline-block;
//     position: relative;
//     width: 200px; /* Adjust width as needed */
//     margin: 10px;
//     border: 1px solid #4477ec!important;
//     border-radius: 4px;
//     background-color: #4477ec!important;
   
// }
.cutom{
  // color: #1c84c6;
  font-weight: 700;
  font-family: sans-serif;
 
}
.cutombox{
  border: 0.5px solid #1c84c6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.btn-orange {
  background-color: #EC6625;
  color: white;
}
