<div class="row">
  <div class="col-lg-12">

    <div class="card" style="height: 80px;">
      <div class="card-body innerdiv">
        <!-- HEADER -->
        <div class="header hor-header">
          <div class="">
            <div>

              <!-- <div class="">
                          <a class="header-brand1" >
                              <img src="assets/images/brand/logo-3.png" class="header-brand-img desktop-logo" alt="logo"
                                  id="change-image">
                              
                          </a>
                      </div> -->
              <div>


                <div>
                  <!-- <span class="active1 container-fluid"> -->
                  <!-- <span class="active2_text container-fluid">{{data_length}}</span> -->
                  <!-- <span class="active2_text container-fluid"></span> -->
                  <!-- </span> -->
                  <!-- <button class="content-1">H</button> -->
                  <!-- <a class="nav-link icon" ngbDropdownToggle> -->
                  <!-- <i class="fe fe-bell"></i> -->
                  <!-- <span class="nav-unread badge bg-success rounded-pill">2</span> -->
                  <!-- </a> -->

                  <!-- ////////////////////header button -->

                  <div aria-label="Basic example" id="header-button">


                    <!-- <div class="col-lg-12" style="margin-top: 10px;"> -->
                    <div class="d-flex justify-content-between">
                      <div class="" style="color: #1c84c6;font-weight: 600;font-size: large;    width: auto;">
                        <div class=" align-items-left ">
                          <div style="width:fit-content" class=" my-2 d-flex">
                            <button class="app-sidebar__toggle ms-1 " (click)="sidebarToggle()" type="button"></button>
                            <!-- <div class="summary">Summary Report </div><br> -->
                            <div _ngcontent-tke-c124="" class="order-header col-lg-12 py-2">
                              <h3 _ngcontent-tke-c124="" class="mb-1"
                                style="color: #1D4380; font-family: Work Sans; font-size: 27px!important; font-weight: 600;">
                                Summary Dashboard</h3>
                              <h5 _ngcontent-tke-c124=""
                                style="color: #808080; font-family: Work Sans; font-size: 15px!important; font-weight: 500;">
                                Home / Summary Dashboard</h5>
                            </div>
                            <!-- <h5 _ngcontent-tke-c124="" style="color: #808080; font-family: Work Sans; font-size: 15px!important; font-weight: 500;">Home / Schedule Trip Dashboard</h5> -->
                          </div>
                        </div>
                        <!-- {{prifile?.Name}}&nbsp; -->
                        <!-- <a href="https://itraceit.in/" style="color: red;"><i
                                class="fa fa-sign-out" ngbTooltip="Log-out"></i></a> -->
                      </div>
                      <!-- {{prifile.Role}}-{{prifile.GroupId}} -->

                      <div style="margin-top:13px" class="d-flex">
                        <div class="" style="display: inline-block;">

                          <!-- <img style="width:370px" src="assets/IRUN_CV_IMG/BlueDartBrandingLOGO.svg" class="header-brand-img desktop-logo"
                                alt="logo" id="change-image"> -->

                        </div>
                        <div style="display: inline-block;">
                          <a class="header-brand1">
                            <img style="width:100px" src="assets/images/itraceit_logo1.png"
                              class="header-brand-img desktop-logo" alt="logo" id="change-image">

                          </a>
                        </div>
                      </div>
                      <!-- <div class="col-lg-1">
                          
                          </div> -->

                    </div>
                    <!-- </div> -->
                  </div>


                </div><!-- NOTIFICATIONS -->

              </div>

            </div>
          </div>
        </div>
        <!-- End HEADER -->

      </div>


    </div>
  </div>
</div>
<div class="container-flex" style=" padding: 6px;    border-bottom: 1px solid #80808042;">

  <div class="row">

    <!-- <div class="col-lg-12"> -->
    <div class="col-lg-1">
      <div class="row" style="display: inline-block;">
        <a data-bs-toggle="collapse" data-bs-target="#collapseExample" role="button" aria-expanded="true"
          aria-controls="collapseExample" style="font-size: 13px; font-weight: 500;">
          <i class="fa fa-filter" aria-hidden="true" style="font-size: 20px; color: gray; margin-top: 8px;"></i> FILTER
        </a>
      </div>
    </div>
  </div>
</div>
<div class="container-flex" style="    padding-top: 5px !important; padding: 17px;">

  <div class="row">
    <div class="col-lg-12">
      <div id="collapseExample" class="collapse show">
        <form #triggerHistoryForm="ngForm" (ngSubmit)="triggerHstSubmit(triggerHistoryForm)">
          <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-6 ">
              <label for="from_time" class="form-label">From Date</label>
              <input type="text" data-date-format="YYYY-MM-DD" id="datepicker" (click)="start()" class="form-control"
                [ngModel]="datetimepicker1" required name="from_time" />
            </div>

            <div class="col-lg-2 col-md-4 col-sm-6 ">
              <label for="to_time" class="form-label">To Date</label>
              <input type="text" step="1" class="form-control" id="datepicker1" (click)="end()"
                [ngModel]="datetimepicker" required name="to_time" />
            </div>

            <div class="col-lg-2 col-md-4 col-sm-6 ">
              <label for="Region" class="form-label">Region</label>
              <!-- <ng-select placeholder="Select" ngModel name="Region">
                <ng-option value="" selected>Select</ng-option>
                <ng-option *ngFor="let item of Region | keyvalue"
                <ng-option *ngFor="let item of Region | keyvalue"
                  [value]="item.value">{{item.value}}</ng-option>
              </ng-select> -->
              <ng-select placeholder="Select" ngModel name="Region"   [multiple]="true"
              [maxSelectedItems]="3"  (click)="validateRegion()"
              (change)="onRegionChange($event)">
                  <!-- <ng-option value="" selected>Select</ng-option> -->
                  <ng-option *ngFor="let item of Region | keyvalue" [value]="item.value">{{item.value}}</ng-option>
              </ng-select>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 ">
              <label for="Origin" class="form-label">Origin</label>
              <!-- <ng-select placeholder="Select" ngModel name="Origin">
              <!-- <ng-select placeholder="Select" ngModel name="Origin">
                <ng-option value="" selected>Select</ng-option>
                <ng-option *ngFor="let item of Customer | keyvalue"
                <ng-option *ngFor="let item of Customer | keyvalue"
                  [value]="item.key">{{item.value}}</ng-option>
              </ng-select> -->
              <ng-select 
              placeholder="Select Origin" 
              [items]="filteredDestination1" 
              bindLabel="value" 
              bindValue="key" 
              [typeahead]="searchTerm1" 
              (search)="onSearch1($event)"
            
              [(ngModel)]="selectedDestination1" 
              name="Origin">
            </ng-select>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 ">
              <label for="Destination" class="form-label">Destination</label>
              <!-- <ng-select placeholder="Select" ngModel name="Destination">   (clear)="onClear1()"
                <ng-option value="" selected>Select</ng-option>
                <ng-option *ngFor="let item of Destination | keyvalue"
                <ng-option *ngFor="let item of Destination | keyvalue"
                  [value]="item.value">{{item.value}}</ng-option>
              </ng-select> -->
              <ng-select 
              placeholder="Select Destination" 
              [items]="filteredDestination" 
              bindLabel="value" 
              bindValue="key" 
              [(ngModel)]="selectedDestination" 
              [typeahead]="searchTerm" 
              (search)="onSearch($event)"
              name="Destination">
            </ng-select>
            
              </ng-select> -->
              <ng-select 
              placeholder="Select Destination" 
              [items]="filteredDestination" 
              bindLabel="value" 
              bindValue="key" 
              [(ngModel)]="selectedDestination" 
              [typeahead]="searchTerm" 
              (search)="onSearch($event)"
              name="Destination">
            </ng-select>
            
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 ">

              <label for="Route" class="form-label">Route Category</label>
              <ng-select placeholder="Select" ngModel name="RouteCategory"  (change)="changeRoutetype($event)">
                <ng-option value="" selected>Select</ng-option>
                <ng-option *ngFor="let item of Master_filter?.RouteCategory | keyvalue" [value]="item.key">{{item.value}}</ng-option>
              </ng-select>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-6 "  id="qmMulticontainer" >
              <label for="Route" class="form-label">Route Type</label>
              <!-- <ng-select placeholder="Select"  name="Route" [multiple]="true"ngModel  [maxSelectedItems]="3"  (click)="validateRegion_route()"
              (change)="onRegionChange_route($event)" [(ngModel)]="selectedRouteType"> -->
              <!-- <ng-select placeholder="Select"  name="Route" [multiple]="true"ngModel  [(ngModel)]="selectedRouteType1"    [items]="routeTypes_filter"  bindLabel="route_type">
               
                <ng-option value="" selected>Select</ng-option>
                <ng-option *ngFor="let item of Route_type | keyvalue" [value]="item.key">{{item.value}}</ng-option>
              </ng-select> -->
               <!-- [(ngModel)]="selectedRouteType" -->
              <ng-select   name="Route" placeholder="Select"  [multiple]="true" [closeOnSelect]="true"  
                [items]="routeTypes_filter"  bindLabel="route_type"  [(ngModel)]="selectedRouteType1"  >
               
              </ng-select>
            </div>
            <div class="col-lg-1 col-md-4 col-sm-6  d-flex align-items-end">
              <button class="btn btn-outline-primary btn-sm w-100 mt-4" type="submit">View</button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

<div class="info" style="    padding: 5px;">
  <!-- <div id="myGrid"></div> -->
  <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" [fullScreen]="true" type="ball-spin-clockwise">
    <p style="color: black">Please Wait.. </p>
  </ngx-spinner>
  <!-- <div class="d-flex align-items-center" style="margin-left: 84%;">

    <input class="cutombox p-2" type="text" id="filter-text-box" placeholder="Filter..."
      (input)="onFilterTextBoxChanged()" class="form-control mb-2" />

    <button (click)="onBtExport()" style="font-weight: bold"><i class="fa fa-file-excel-o"
        style="font-size: 18px;color: #1D6F42"></i>
    </button>
    <button (click)="exportToPDF()"><i class="fa fa-file-pdf-o" style="font-size: 18px;color: #F40F02;"></i></button>

    <button (click)="exportToCSV()"><i class="fa fa-file-text-o" style="font-size: 18px;color: blue !important;"
        title=" Download CSV file"></i></button>

  </div> -->
  <!-- <div id="myGrid" style="width: 100%; height: 100%;" class="ag-theme-alpine grid_table "></div> -->
   <!-- <div style="width: 50%;">simple_datatable -->
  <table class="display nowrap  table" cellspacing="0" id="simple_datatable" >
    <thead>
      <tr role="row" style="background-color:#5da3ed !important;">
        <th rowspan="2" style="background-color: rgb(53, 177, 136); color: white; width: 35.4px;"
          class="sorting_disabled" colspan="1" >Region</th>
        <th colspan="4" style="background-color:#5da3ed;color:white" rowspan="1">Trip Status</th>
        <th colspan="4" style="background-color:#5da3ed;color:white" rowspan="1">GPS Status</th>
        <th colspan="3" style="background-color:#5da3ed;color:white" rowspan="1">Trip Creation Exception</th>
        <th colspan="11" style="background-color:#5da3ed;color:white" rowspan="1">OTD/OTA Status</th>
      </tr>
      <tr style="background-color:rgb(53, 177, 136);color:white" role="row">
        <th class="no-sort sorting_disabled" style="background-color: rgb(53, 177, 136); width: 33.4px;" rowspan="1" colspan="1">Total &nbsp;<a  style="text-decoration:none"><i class="fa fa-pie-chart" style="font-size:14px;color:red" (click)="showcommon_chart(1,'Total Trips')"></i></a></th>
        <!-- <th style="display: none; background-color: rgb(53, 177, 136); width: 0px;color:white" class="sorting_disabled" rowspan="1" colspan="1">Total</th> -->
        <th class="no-sort sorting_disabled" style="background-color: rgb(53, 177, 136); width: 59.4px;" rowspan="1" colspan="1">Schedule &nbsp;<a  style="text-decoration:none" (click)="showcommon_chart(2,'Schedule Trips Status')">
          <i class="fa fa-pie-chart" style="font-size:14px;color:red" ></i></a></th>
        <!-- <th style="display: none; background-color: rgb(53, 177, 136); width: 0px;" class="sorting_disabled" rowspan="1"
          colspan="1">Schedule</th> -->
        <th class="no-sort sorting_disabled" style="background-color: rgb(53, 177, 136); width: 71.4px;" rowspan="1"
          colspan="1">Completed &nbsp;<a style="text-decoration:none"><i class="fa fa-pie-chart"
              style="font-size:14px;color:red" (click)="showcommon_chart(3,'Completed Trips Status')"></i></a></th>
        <!-- <th style="display: none; background-color: rgb(53, 177, 136); width: 0px;" class="sorting_disabled" rowspan="1"
          colspan="1">Completed</th> -->
        <th class="no-sort sorting_disabled" style="background-color: rgb(53, 177, 136); width: 29.4px;" rowspan="1"
          colspan="1">DNA &nbsp;<a  style="text-decoration:none"><i class="fa fa-pie-chart"
              style="font-size:14px;color:red" (click)="showcommon_chart(4,'DNA Trips Status')"></i></a></th>
        <!-- <th style="display: none; background-color: rgb(53, 177, 136); width: 0px;" class="sorting_disabled" rowspan="1"
          colspan="1">DNA</th> -->
        <th class="no-sort sorting_disabled" style="background-color: rgb(53, 177, 136); width: 47.4px;" rowspan="1"
          colspan="1">Vehicle Count &nbsp;<a  style="text-decoration:none"><i class="fa fa-pie-chart"
              style="font-size:14px;color:red" (click)="showcommon_chart(5,'Vehicle Count GPS Status')"></i></a></th>
        <!-- <th style="display: none; background-color: rgb(53, 177, 136); width: 0px;" class="sorting_disabled" rowspan="1"
          colspan="1">Vehicle Count</th> -->
        <th class="no-sort sorting_disabled" style="background-color: rgb(53, 177, 136); width: 40.4px;" rowspan="1"
          colspan="1">GPS Active &nbsp;<a  style="text-decoration:none"><i class="fa fa-pie-chart"
              style="font-size:14px;color:red" (click)="showcommon_chart(6,'GPS Active GPS Status')"></i></a></th>
        <!-- <th style="display: none; background-color: rgb(53, 177, 136); width: 0px;" class="sorting_disabled" rowspan="1"
          colspan="1">GPS Active</th> -->
        <th class="no-sort sorting_disabled" style="background-color: rgb(53, 177, 136); width: 52.4px;" rowspan="1"
          colspan="1">GPS Inactive &nbsp;<a  style="text-decoration:none"><i class="fa fa-pie-chart"
              style="font-size:14px;color:red" (click)="showcommon_chart(7,'GPS Inactive GPS Status')"></i></a></th>
        <!-- <th style="display: none; background-color: rgb(53, 177, 136); width: 0px;" class="sorting_disabled" rowspan="1"
          colspan="1">GPS Inactive</th> -->
        <th class="no-sort sorting_disabled" style="background-color: rgb(53, 177, 136); width: 25.4px;" rowspan="1"
          colspan="1">GPS NA &nbsp;<a  style="text-decoration:none"><i class="fa fa-pie-chart"
              style="font-size:14px;color:red" (click)="showcommon_chart(8,'GPS NA GPS Status')"></i></a></th>
        <!-- <th style="display: none; background-color: rgb(53, 177, 136); width: 0px;" class="sorting_disabled" rowspan="1"
          colspan="1">GPS NA</th> -->
        <th class="no-sort sorting_disabled" style="background-color: rgb(53, 177, 136); width: 47.4px;" rowspan="1"
          colspan="1">Vehicle NA&nbsp;<a  style="text-decoration:none"><i class="fa fa-pie-chart"
              style="font-size:14px;color:red" (click)="showcommon_chart(9,'Vehicle NA Trip Creation Exception')"></i></a></th>
        <!-- <th style="display: none; background-color: rgb(53, 177, 136); width: 0px;" class="sorting_disabled" rowspan="1"
          colspan="1">Vehicle NA</th> -->
        <th class="no-sort sorting_disabled" style="background-color: rgb(53, 177, 136); width: 39.4px;" rowspan="1"
          colspan="1">Route NA&nbsp;<a  style="text-decoration:none"><i class="fa fa-pie-chart"
              style="font-size:14px;color:red" (click)="showcommon_chart(10,'Route NA Trip Creation Exception')"></i></a></th>
        <!-- <th style="display: none; background-color: rgb(53, 177, 136); width: 0px;" class="sorting_disabled" rowspan="1"
          colspan="1">Wrong Route</th> -->
        <th class="no-sort sorting_disabled" style="background-color: rgb(53, 177, 136); width: 32.4px;" rowspan="1"
          colspan="1">Fleet NA &nbsp;<a  style="text-decoration:none"><i class="fa fa-pie-chart"
              style="font-size:14px;color:red" (click)="showcommon_chart(11,'Fleet NA Trip Creation Exception')"></i></a></th>
        <!-- <th style="display: none; background-color: rgb(53, 177, 136); width: 0px;" class="sorting_disabled" rowspan="1"
          colspan="1">Wrong Fleet</th> -->
        <th class="no-sort sorting_disabled" style="background-color: rgb(53, 177, 136); width: 28.4px;" rowspan="1"
          colspan="1">OTD &nbsp;<a  style="text-decoration:none"><i class="fa fa-pie-chart"
              style="font-size:14px;color:red" (click)="showcommon_chart(12,'OTD OTD/OTA Status ')"></i></a></th>
        <!-- <th style="display: none; background-color: rgb(53, 177, 136); width: 0px;" class="sorting_disabled" rowspan="1"
          colspan="1">OTD</th> -->
        <th class="no-sort sorting_disabled" style="background-color: rgb(53, 177, 136); width: 67.4px;" rowspan="1"
          colspan="1">Delayed Departure &nbsp;<a  style="text-decoration:none"><i class="fa fa-pie-chart"
              style="font-size:14px;color:red" (click)="showcommon_chart(13,'Delayed Departure OTD/OTA Status')"></i></a></th>
        <!-- <th style="display: none; background-color: rgb(53, 177, 136); width: 0px;" class="sorting_disabled" rowspan="1"
          colspan="1">Delayed Departure</th> -->
        <th class="no-sort sorting_disabled" style="background-color: rgb(53, 177, 136); width: 26.4px;" rowspan="1"
          colspan="1">ATD NA &nbsp;<a  style="text-decoration:none"><i class="fa fa-pie-chart"
              style="font-size:14px;color:red" (click)="showcommon_chart(14,'ATD NA OTD/OTA Status')"></i></a></th>
        <!-- <th style="display: none; background-color: rgb(53, 177, 136); width: 0px;" class="sorting_disabled" rowspan="1"
          colspan="1">ATD NA</th> -->
        <th class="no-sort sorting_disabled" style="background-color: rgb(53, 177, 136); width: 34.4px;" rowspan="1"
          colspan="1">DINA &nbsp;<a  style="text-decoration:none"><i class="fa fa-pie-chart"
              style="font-size:14px;color:red" (click)="showcommon_chart(15,'DINA OTD/OTA Status')"></i></a></th>
        <!-- <th style="display: none; background-color: rgb(53, 177, 136); width: 0px;" class="sorting_disabled" rowspan="1"
          colspan="1">DINA</th> -->
        <th class="no-sort sorting_disabled" style="background-color: rgb(53, 177, 136); width: 46.4px;" rowspan="1"
          colspan="1">Runing on Time &nbsp;<a  style="text-decoration:none"><i class="fa fa-pie-chart"
              style="font-size:14px;color:red" (click)="showcommon_chart(16,'Runing on Time OTD/OTA Status')"></i></a></th>
        <!-- <th style="display: none; background-color: rgb(53, 177, 136); width: 0px;" class="sorting_disabled" rowspan="1"
          colspan="1">Runing on Time</th> -->
        <th class="no-sort sorting_disabled" style="background-color: rgb(53, 177, 136); width: 46.4px;" rowspan="1"
          colspan="1">Runing Late &nbsp;<a  style="text-decoration:none"><i class="fa fa-pie-chart"
              style="font-size:14px;color:red" (click)="showcommon_chart(17,'Runing Late OTD/OTA Status')"></i></a></th>
        <!-- <th style="display: none; background-color: rgb(53, 177, 136); width: 0px;" class="sorting_disabled" rowspan="1"
          colspan="1">Runing Late</th> -->
        <th class="no-sort sorting_disabled" style="background-color: rgb(53, 177, 136); width: 46.4px;" rowspan="1"
          colspan="1">Runing DNA &nbsp;<a  style="text-decoration:none"><i class="fa fa-pie-chart"
              style="font-size:14px;color:red" (click)="showcommon_chart(18,'Runing DNA OTD/OTA Status')"></i></a></th>
        <!-- <th style="display: none; background-color: rgb(53, 177, 136); width: 0px;" class="sorting_disabled" rowspan="1"
          colspan="1">Runing DNA</th> -->
        <th class="no-sort sorting_disabled" style="background-color: rgb(53, 177, 136); width: 27.4px;" rowspan="1"
          colspan="1">OTA &nbsp;<a  style="text-decoration:none"><i class="fa fa-pie-chart"
              style="font-size:14px;color:red" (click)="showcommon_chart(19,'OTA OTD/OTA Status')"></i></a></th>
        <!-- <th style="display: none; background-color: rgb(53, 177, 136); width: 0px;" class="sorting_disabled" rowspan="1"
          colspan="1">OTA</th> -->
        <th class="no-sort sorting_disabled" style="background-color: rgb(53, 177, 136); width: 53.4px;" rowspan="1"
          colspan="1">ATA Delayed &nbsp;<a  style="text-decoration:none"><i class="fa fa-pie-chart"
              style="font-size:14px;color:red" (click)="showcommon_chart(20,'ATA Delayed OTD/OTA Status')"></i></a></th>
        <!-- <th style="display: none; background-color: rgb(53, 177, 136); width: 0px;" class="sorting_disabled" rowspan="1"
          colspan="1">ATA Delayed</th> -->
        <th class="no-sort sorting_disabled" style="background-color: rgb(53, 177, 136); width: 26.4px;" rowspan="1"
          colspan="1">ATA NA &nbsp;<a  style="text-decoration:none"><i class="fa fa-pie-chart"
              style="font-size:14px;color:red" (click)="showcommon_chart(21,'ATA NA OTD/OTA Status')"></i></a></th>
        <!-- <th style="display: none; background-color: rgb(53, 177, 136); width: 0px;" class="sorting_disabled" rowspan="1"
          colspan="1">ATA NA</th> -->
        <th class="no-sort sorting_disabled" style="background-color: rgb(53, 177, 136); width: 33.4px;" rowspan="1"
          colspan="1">AINA &nbsp;<a  style="text-decoration:none"><i class="fa fa-pie-chart"
              style="font-size:14px;color:red" (click)="showcommon_chart(22,'AINA OTD/OTA Status')"></i></a></th>
        <!-- <th style="display: none; background-color: rgb(53, 177, 136); width: 0px;" class="sorting_disabled" rowspan="1"
          colspan="1">AINA</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of new_array.Summary">
        <td>{{ row.Region}}</td>
        <td><a (click)="summary_detail(row.Region,'TotalTrip','Total Trips')" class="blue-text">{{ row.TotalTrip }}</a></td>
        <td><a (click)="summary_detail_1(row.Region,'RunningTrip','Schedule Trips Status')" class="blue-text">{{row.RunningTrip}}</a></td>
        <td><a (click)="summary_detail_1(row.Region,'CompletedTrip','Completed Trips Status')" class="blue-text">{{row.CompletedTrip}}</a></td>
        <td><a (click)="summary_detail_1(row.Region,'DnaTrip','DNA Trips Status')" class="blue-text">{{row.DnaTrip}}</a></td>
        <td><a (click)="summary_detail_2(row.Region,'vehicleCount','Vehicle Count GPS Status')" class="blue-text">{{row.VehicleCount}}</a></td>
        <td><a (click)="summary_detail_2(row.Region,'active','GPS Active GPS Status')" class="blue-text">{{row.GPSActive}}</a></td>
        <td><a (click)="summary_detail_2(row.Region,'inactive','GPS Inactive GPS Status')" class="blue-text">{{row.GPSInactive}}</a></td>
        <td><a (click)="summary_detail_2(row.Region,'nogps','GPS NA GPS Status')" class="blue-text">{{row.GPSNA}}</a></td>
        <td><a (click)="summary_detail_1(row.Region,'WrongVehicle','Vehicle NA Trip Creation Exception')" class="blue-text">{{row.WrongVehicle}}</a></td>
        <td><a (click)="summary_detail_1(row.Region,'WrongRoute','Route NA Trip Creation Exception')" class="blue-text">{{row.WrongRoute}}</a></td>
        <td><a (click)="summary_detail_1(row.Region,'WrongFleet','Fleet NA Trip Creation Exception')" class="blue-text">{{row.WrongFleet}}</a></td>
        <td><a (click)="summary_detail_1(row.Region,'OTD','OTD OTD/OTA Status')" class="blue-text">{{row.OTD}}</a></td>
        <td><a (click)="summary_detail_1(row.Region,'DelayedDeparture','Delayed Departure OTD/OTA Status')" class="blue-text">{{row.DelayedDeparture}}</a></td>
        <td><a (click)="summary_detail_1(row.Region,'ATDN','ATD NA OTD/OTA Status')" class="blue-text">{{row.ATDN}}</a></td>
        <td><a (click)="summary_detail_1(row.Region,'DINA','DINA OTD/OTA Status')" class="blue-text">{{row.DINA}}</a></td>
        <td><a (click)="summary_detail_1(row.Region,'RunningOnTime','Runing on Time OTD/OTA Status')" class="blue-text">{{row.RunningOnTime}}</a></td>
        <td><a (click)="summary_detail_1(row.Region,'RuningLate','Runing Late OTD/OTA Status')" class="blue-text">{{row.RunningLate}}</a></td>
        <td><a (click)="summary_detail_1(row.Region,'RunningDna','Runing DNA OTD/OTA Status')" class="blue-text">{{row.RunningDna}}</a></td>
        <td><a (click)="summary_detail_1(row.Region,'OTA','OTA OTD/OTA Status')" class="blue-text">{{row.OTA}}</a></td>
        <td><a (click)="summary_detail_1(row.Region,'ATADelayed','ATA Delayed OTD/OTA Status')" class="blue-text">{{row.ATADelayed}}</a></td>
        <td><a (click)="summary_detail_1(row.Region,'ATAN','ATA NA OTD/OTA Status')" class="blue-text">{{row.ATAN }}</a></td>
        <td><a (click)="summary_detail_1(row.Region,'AINA','AINA OTD/OTA Status')" class="blue-text">{{row.AINA}}</a></td>
      </tr>

    </tbody>
    <tfoot>
      <tr *ngFor="let row of new_array.Total" style="background-color: #5da3ed; color: white;">
        <td>Total</td>
        <td>{{ row.TotalTrip }}</td>
        <td>{{row.RunningTrip}}</td>
        <td>{{row.CompletedTrip}}</td>
        <td>{{row.DnaTrip}}</td>
        <td>{{row.VehicleCount}}</td>
        <td>{{row.GPSActive}}</td>
        <td>{{row.GPSInactive}}</td>
        <td>{{row.GPSNA}}</td>
        <td>{{row.WrongVehicle}}</td>
        <td>{{row.WrongRoute}}</td>
        <td>{{row.WrongFleet}}</td>
        <td>{{row.OTD}}</td>
        <td>{{row.DelayedDeparture}}</td>
        <td>{{row.ATDN}}</td>
        <td>{{row.DINA}}</td>
        <td>{{row.RunningOnTime}}</td>
        <td>{{row.RunningLate}}</td>
        <td>{{row.RunningDna}}</td>
        <td>{{row.OTA}}</td>
        <td>{{row.ATADelayed}}</td>
        <td>{{row.ATAN }}</td>
        <td>{{row.AINA}}</td>
      </tr>
    </tfoot>
  </table>
</div>

<div class="modal fade" id="Datail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" style=" max-width: 1500px;margin-left: 140px;">
    <div class="modal-content" style="height: 634px; width: 835px;">

      <div class="modal-header" style="height: 45px;">

        <label for="" style="margin-left: 480px;font-weight: 500;font-size: 16px;">Detail</label>

        <!-- <form #triggerHistoryForm="ngForm" (ngSubmit)="triggerHstSubmit(triggerHistoryForm.value)"> -->



        <!-- </form> -->
        <button type="button" class="btn-close btn-sm" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">

        <hr>
        <div style="overflow-y: auto;">
          <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" [fullScreen]="true" type="ball-spin-clockwise">

          </ngx-spinner>
          <div class="d-flex align-items-center" style="margin-left: 84%;">

            <input class="cutombox p-2" type="text" id="filter-text-box-pop" placeholder="Filter..."
              (input)="onFilterTextBoxChanged_pop()" class="form-control mb-2" />

            <button (click)="onBtExport_pop()" style="font-weight: bold"><i class="fa fa-file-excel-o"
                style="font-size: 18px;color: #1D6F42" title=" Download Excel file"></i>
            </button>
            <button (click)="exportToPDF_popup()"><i class="fa fa-file-pdf-o" style="font-size: 18px;color: #F40F02;"
                title=" Download PDF file"></i></button>
            <!-- <button (click)="exportToPDF()"><i class="fa fa-file-pdf-o" style="font-size: 18px;color: #F40F02;"></i></button> -->

            <button (click)="exportToCSV_popup()"><i class="fa fa-file-text-o"
                style="font-size: 18px;color: blue !important;" title=" Download CSV file"></i></button>

          </div>
          <div id="myGrid-popup" style="height: 400px; width: 100%;" class="ag-theme-alpine grid_table"></div>
          <!-- <table class="display nowrap  table" cellspacing="0"
              id="triggerHistoryTable">
              <thead>
                <tr role="row">
                  <th class="table-primary" tabindex="0">Sl.</th>
                  <th class="table-primary" tabindex="0">RouteType</th>
                  <th class="table-primary" tabindex="0">Region</th>
                  <th class="table-primary" tabindex="0">Origin</th>
                  <th class="table-primary" tabindex="0">Destination</th>
                  <th class="table-primary" tabindex="0">Route</th>
                  <th class="table-primary" tabindex="0">RouteSequence</th>
                  <th class="table-primary" tabindex="0">Fleet</th>
                  <th class="table-primary" tabindex="0">TripId</th>
                  <th class="table-primary" tabindex="0">RunCode</th>
                  <th class="table-primary">RunDate</th>
                  <th class="table-primary">Vehicle</th>
                  <th class="table-primary">TrackHistory</th>
                  <th class="table-primary" tabindex="0">State</th>
                  <th class="table-primary" tabindex="0">Branch</th>
                  <th class="table-primary" tabindex="0">Area</th>
                  <th class="table-primary" tabindex="0">DriverName</th>
                  <th class="table-primary" tabindex="0">DriverNumber</th>
                  <th class="table-primary" tabindex="0">Transporter</th>
                  <th class="table-primary" tabindex="0">STD</th>
                  <th class="table-primary">ATD</th>
                  <th class="table-primary" tabindex="0">DelayDeparture</th>
                  <th class="table-primary" tabindex="0">STA</th>
                  <th class="table-primary">ATA</th>
                  <th class="table-primary" tabindex="0">TT-Mapped</th>
                  <th class="table-primary" tabindex="0">TT-Taken</th>
                  <th class="table-primary" tabindex="0">DelayArrival</th>
                  <th class="table-primary" tabindex="0">DelayTT</th>
                  <th class="table-primary" tabindex="0">ScheduleHalt</th>
                  <th class="table-primary" tabindex="0">ActualHalt</th>
                  <th class="table-primary" tabindex="0">ATT</th>
                  <th class="table-primary" tabindex="0">Alerts</th>
                  <th class="table-primary" tabindex="0">ReverseDriving</th>
                  <th class="table-primary" tabindex="0">FixedGPS(Km)</th>
                  <th class="table-primary" tabindex="0">FixedE-Lock(Km)</th>
                  <th class="table-primary" tabindex="0">PortableE-Lock(Km)</th>
                  <th class="table-primary">GPS Exception-1</th>
                  <th class="table-primary">GPS Exception-2</th>
                  <th class="table-primary">GPS Exception-3</th>
                  <th class="table-primary">SupervisorException</th>
                  <th class="table-primary" tabindex="0">Status</th>
                  <th class="table-primary">SystemRemarks</th>
                  <th class="table-primary" tabindex="0">CloseBy</th>
                  <th class="table-primary" tabindex="0">CloseDate</th>
                  <th class="table-primary" tabindex="0">CreateBy</th>
                  <th class="table-primary" tabindex="0">TotalBag</th>
                  <th class="table-primary" tabindex="0">Remarks</th>
                  <th class="table-primary" tabindex="0">GPSVendor</th>
                  <th class="table-primary" tabindex="0">Fixed E-lock Vendor</th>
                  <th class="table-primary" tabindex="0">Portable E-lock Vendor</th>
                  <th class="table-primary" tabindex="0">CloseDeviceBy</th>
                  <th class="table-primary" tabindex="0">Portable Lock Device</th>
              </tr>
              
  
              </thead>
              <tbody >
             
                </tbody>
            </table> -->
        </div>

      </div>


    </div>

  </div>
</div>
<div class="modal fade" id="Datail1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" style=" max-width: 1500px;margin-left: 140px;">
    <div class="modal-content" style="height: 634px; width: 835px;">

      <div class="modal-header" style="height: 45px;">

        <label for="" style="margin-left: 480px;font-weight: 500;font-size: 16px;">Detail</label>

        <!-- <form #triggerHistoryForm="ngForm" (ngSubmit)="triggerHstSubmit(triggerHistoryForm.value)"> -->



        <!-- </form> -->
        <button type="button" class="btn-close btn-sm" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">

        <hr>
        <div style="overflow-y: auto;">
          <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" [fullScreen]="true" type="ball-spin-clockwise">

          </ngx-spinner>
          <div class="d-flex align-items-center" style="margin-left: 84%;">

            <input class="cutombox p-2" type="text" id="filter-text-box-pop" placeholder="Filter..."
              (input)="onFilterTextBoxChanged_pop()" class="form-control mb-2" />

            <button (click)="onBtExport_pop1()" style="font-weight: bold"><i class="fa fa-file-excel-o"
                style="font-size: 18px;color: #1D6F42" title=" Download Excel file"></i>
            </button>
            <button (click)="exportToPDF_popup1()"><i class="fa fa-file-pdf-o" style="font-size: 18px;color: #F40F02;"
                title=" Download PDF file"></i></button>
            <!-- <button (click)="exportToPDF()"><i class="fa fa-file-pdf-o" style="font-size: 18px;color: #F40F02;"></i></button> -->

            <button (click)="exportToCSV_popup1()"><i class="fa fa-file-text-o"  style="font-size: 18px;color: blue !important;" title=" Download CSV file"></i></button>
           </div>
          <div id="myGrid-popup1" style="height: 400px; width: 100%;" class="ag-theme-alpine grid_table"></div>
        </div>

      </div>


    </div>

  </div>
</div>

<div class="modal fade" id="v_track_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
  data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog " style=" max-width: 1500px;">
    <div class="modal-content" style="height: 700px;">

      <div class="modal-header">
        <!-- <h6 class="modal-title" id="exampleModalLabel">{{map_flag}}</h6> -->
        <button type="button" class="btn-close btn-sm" data-bs-dismiss="modal" aria-label="Close"></button>
        <!-- (click)="closeMap()" -->
      </div>
      <div class="modal-body">
   
        <div id="map1">


        </div>
      </div>
      <div class="modal-footer" style="height: 25px;">

        <!-- <button type="button" *ngIf="seconddaryTrack[0][8]!==''"> <i class="fe fe-truck"   tooltipClass="customInactive-tooltip-class" 
              style="font-size: 20px;display: none;" id="blink" ></i></button> -->
        <!-- 
           <button type="button" *ngIf="seconddaryTrack[0][7]!=''"> <i class="fe fe-truck"  tooltipClass="customInactive-tooltip-class" [ngbTooltip]="seconddaryTrack[0][1]"
              style="font-size: 20px;" id="blink" [style.color]="colorTrack[0]?.first" (click)="vehicleTrack1F()"></i></button>
           <button type="button" *ngIf="seconddaryTrack[0][1]!=''"> <i class="fe fe-truck"  tooltipClass="customInactive-tooltip-class" [ngbTooltip]="seconddaryTrack[0][7]"
              style="font-size: 20px;" id="blink" [style.color]="colorTrack[1]?.second" (click)="vehicleTrack2F()"></i></button> -->




      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="v_track_Modal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
  data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog " style=" min-width: 657px;">
    <div class="modal-content" style="height: 300px;">

      <div class="modal-header">
       <h4>Region Wise {{header_text}}</h4>
        <button type="button" class="btn-close btn-sm" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- <div style=""> -->
          <div id="pieChartContainer1"
            style="height:300px;width:500px; padding:0px  !important;margin:0px  !important;background:none !important">
          </div>
        <!-- </div> -->
      </div>
    </div>

  </div>
</div>
<!-- </div> -->