<div class="row">
    <div class="col-lg-12">
    
   
          <!-- HEADER -->
          <div class="card" style="background:transparent;border:none;margin-bottom: 4px;">
            <div class=" p-0">
              <!-- headerstart here -->
              <div class="hor-header">
                <div style="overflow: hidden;">
                  <div class="d-flex align-items-left ">
                    <div style="width:fit-content" class=" my-2 d-flex">
                      <button class="app-sidebar__toggle ms-1 " (click)="sidebarToggle()"></button>
                    </div>
                   
                    <div
                    class="w-100"
                    style="
                      font-weight: 600;
                      font-size: small;
                      text-align: left;
                     
                    "
                  >
                  <div  class="order-header d-flex py-2 justify-content-between align-items-center" >
                    <div class="ps-2">
                      <h3 style="color: #1D4380;font-family:'Work Sans';font-size: 27px!important;font-weight: 600;" class=" mb-1">
                        Delay Dashboard</h3>
                      <h5 style="color: #808080;font-family:'Work Sans';font-size: 15px!important;font-weight: 500;">Home / Delay Dashboard </h5>
                    </div>
                   
          
                    <div class="d-flex align-items-center">
                      <img style="height: 100%;height: 76px;position: absolute;z-index: 44;right: 12px;" src="assets/img/logo.png" class="header-logo"  alt="">
                    </div>
          
                    <div class="d-flex gap-4 pe-5">
               
                    </div>
                    <!-- <div class="d-flex justify-content-between  align-items-baseline mt-2">
                      <div class="d-flex flex-column align-items-baseline">
                        <span>Running:{{dashboardHeader?.running}}</span>
                        <span>Lock NA: {{dashboardHeader?.lock_na}}</span>
                      </div>
                      <div class="d-flex flex-column align-items-baseline">
                        <span>Free Vehicles ( >2Hrs.): {{dashboardHeader?.free_vehicle}}</span> 
                        <span>DFG: {{dashboardHeader?.dfg}}</span> 
                        
                      </div>
                      <div class="d-flex flex-column align-items-baseline">
                        <span>NoData: {{dashboardHeader?.no_data}}</span> 
                        <span>Delayed Arrived: {{dashboardHeader?.delayed_arrived}}</span>
                      </div>
                      <div class="d-flex flex-column align-items-baseline">
                        <span>Non-Integrated: {{dashboardHeader?.non_integrated}}</span>
                        <span>At Source: {{dashboardHeader?.at_source}}</span> 
                      </div>
                      <div class="d-flex flex-column align-items-baseline">
                        <span>Lock Status (/): {{dashboardHeader?.lock_close}}/{{dashboardHeader?.lock_open}}</span>
                        <span>At Destination: {{dashboardHeader?.at_destination}}</span>
                      </div>
                    </div> -->
                    
                 
                  </div>
                  
                  </div>
                    <!-- <div class="col-lg-2 text-center ">
          
                    </div> -->
          
                    <!-- <div class="col-lg-1"></div> -->
                    <!-- <div class="col-lg-1">
                      <a  routerLink="/ILgic/createTrip"><i class="fa fa-plus-circle" aria-hidden="true" style="font-size: 20px;color: #1D4380;"></i></a> 
                    </div> -->
                    <!-- <div class="col-lg-1 text-center">
                      <a class="header-brand1">
                        <img src="assets/images/itraceit_logo1.png" alt="ILGIC Logo" class="header-brand-img desktop-logo"
                          style="height:auto;max-height:48px; width: 80%;">
                      </a>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End HEADER -->
       
      <div class="container-flex" style=" padding: 9px;    border-bottom: 1px solid #80808042;">

        <div class="row">
  
          <!-- <div class="col-lg-12"> -->
          <div class="col-lg-1">
            <div class="row" style="display: inline-block;">
              <a data-bs-toggle="collapse" data-bs-target="#collapseExample" role="button" aria-expanded="false"
                aria-controls="collapseExample" style="font-size: 13px;font-weight: 500;">
                <i class="fa fa-filter" aria-hidden="true"
                  style="font-size: 20px;color: gray ;margin-top: 8px;"></i>FILTER
              </a>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="collapse" id="collapseExample">
              <div style="display:inline-table;">
                <ng-select class="io-set"  name="trigger_type" placeholder="Select"  [multiple]="true"[closeOnSelect]="true" 
                [items]="routeTypes"  bindLabel="route_type"  [(ngModel)]="selectedRouteType"
                >
                 <!-- <ng-option *ngFor="let item of alertData  | keyvalue" [value]="item.value">{{item.value}}</ng-option> -->

              </ng-select>
              </div>
              <!-- <div style="display:inline-table;"><button class="btn-outline-primary" (click)="SumbitFilter()">Submit</button> </div> -->
              <button _ngcontent-iwn-c232="" class="btn btn-success ms-5" style="
              padding: 4px;
              font-size: 13px;
              width: 77px;" (click)="SumbitFilter()">Submit</button>
            </div>
          </div>

        </div>
      </div>
      <div  style="overflow: auto; margin: 25px 5px;">
        <marquee style="background-color: #1D4380;">
          <table class="headerlabel">
              <tbody id="marquee-content">
                  <!-- Dynamic rows will be added here -->
              </tbody>
          </table>
      </marquee>
        <marquee style="background-color: #1D4380;">
          <table class="headerlabel">
              <tbody id="marquee-content">
                  <!-- Dynamic rows will be added here -->
              </tbody>
          </table>
      </marquee>
        <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" [fullScreen]="true" type="ball-spin-clockwise">
        </ngx-spinner>
       
        <div class="d-flex align-items-center" style="margin-left: 84%;">
    
          <input class="cutombox p-2" type="text" id="filter-text-box" placeholder="Filter..." (input)="onFilterTextBoxChanged()" class="form-control mb-2" />
          
              <button (click)="exportExcel()" style="font-weight: bold"><i class="fa fa-file-excel-o" style="font-size: 18px;color: #1D6F42"></i>
              </button>
              <button (click)="onBtExport()" style="font-weight: bold"><i class="fa fa-file-pdf-o" style="font-size: 18px;color: #1D6F42"></i>
              <button (click)="exportExcel()" style="font-weight: bold"><i class="fa fa-file-excel-o" style="font-size: 18px;color: #1D6F42"></i>
              </button>
              <button (click)="onBtExport()" style="font-weight: bold"><i class="fa fa-file-pdf-o" style="font-size: 18px;color: #1D6F42"></i>
              </button>
              <button (click)="exportToPDF()"><i class="fa fa-file-pdf-o" style="font-size: 18px;color: #F40F02;"></i></button>
              <button (click)="exportToPDF()"><i class="fa fa-file-pdf-o" style="font-size: 18px;color: #F40F02;"></i></button>
        
        </div>
        <div id="myGrid" style=" width: 100%;" class="ag-theme-alpine grid_table "></div>
       
      </div>
    </div>
</div>
<!-- MAP MODAL -->
<div class="modal fade" id="v_track_Modal" tabindex="-1" aria-labelledby="mapModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" style="width:1000px; max-width:1300px;position: relative;">
      <div class="modal-content" style="height: 634px;">
<div class="modal fade" id="v_track_Modal" tabindex="-1" aria-labelledby="mapModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" style="width:1000px; max-width:1300px;position: relative;">
      <div class="modal-content" style="height: 634px;">

    <div class="modal-header">
      <!-- <h6 class="modal-title" id="exampleModalLabel">{{map_flag}}</h6> -->
      <button type="button" class="btn-close btn-sm" data-bs-dismiss="modal" aria-label="Close"
        ></button>
        <!-- (click)="closeMap()" -->
    </div>
    <div class="modal-body">
    
      <div id="map2">
    
      <div id="map2">


      </div>
    </div>
    <div class="modal-footer">
      <!-- stored_imei -->
       <ng-container *ngFor="let item of stored_imei ;let ind=index">
        <ng-container *ngIf="item!==''" >
      <button  type="button" (click)="vehicleTrackF_new(item, '', '', stored_data[0], stored_data[1], '', '', stored_data[2]) ">
        <i class="fa fa-map-marker" tooltipClass="customInactive-tooltip-class" [ngbTooltip]="item" 
          style="font-size: 20px;color: #1D6F42; " id="blink"
        ></i><span>{{ind+1}}</span></button>
       </ng-container>
      </ng-container>
    <div class="modal-footer">
      <!-- stored_imei -->
       <ng-container *ngFor="let item of stored_imei ;let ind=index">
        <ng-container *ngIf="item!==''" >
      <button  type="button" (click)="vehicleTrackF_new(item, '', '', stored_data[0], stored_data[1], '', '', stored_data[2]) ">
        <i class="fa fa-map-marker" tooltipClass="customInactive-tooltip-class" [ngbTooltip]="item" 
          style="font-size: 20px;color: #1D6F42; " id="blink"
        ></i><span>{{ind+1}}</span></button>
       </ng-container>
      </ng-container>
    </div>
  </div>
</div>
</div>