@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.hor-header .header-brand-img {
    // margin-left: 80px;
    margin-top: -18px!important;
}
.header-brand-img {
    height: 75px !important;
}
.innerdiv{
    margin-top: 0px;
    padding-top: 0px
}
.io-set{
    border: 1px solid #8080808c;
    border-radius: 3px;
}
#map2
    {
        height: 500px;
        width: 100%;
    }
    .map-table-marker{
        color: #1c84c6; cursor: pointer;
    }
    .headerlabel {
        width: 100%;
        font-weight: bold;
        font-size: small;
        color: white;
    }
    ::ng-deep {
        .modal-open .modal {
            overflow-x: hidden;
            overflow-y: hidden;
        }
    }