<div class="row">
    <div class="col-lg-12">
    
      <div class="card" style="height: 80px;    margin-bottom: 0px;">
        <div class="card-body innerdiv">
          <!-- HEADER -->
          <div class="hor-header">
            <div class="">
              <div>
                <div>
                  <div>
                    <!-- Network Delay Dashboardn justify-content-between -->
                    <div aria-label="Basic example" id="header-button">
                        <div class="d-flex ">
                          <div class="col-lg-1" style="color: #1c84c6;font-weight: 600;font-size: large; width: auto;">
                            <div class=" align-items-left ">
                                <div style="width:fit-content" class=" my-2 d-flex">
                                  <button class="app-sidebar__toggle ms-1 " (click)="sidebarToggle()" type="button"></button>
                                </div>
                                </div>
                          </div>
                          <div class="col-lg-4" style="color: #1c84c6;font-weight: 600;font-size: large;">
                            <div class=" align-items-left  ">
                                <div style="width:fit-content" class=" d-flex">
                                   <!-- Delay Dashboard -->
                                   <div _ngcontent-tke-c124="" class="order-header col-lg-12 py-2"><h3 _ngcontent-tke-c124="" class="mb-1" style="color: #1D4380; font-family: Work Sans; font-size: 27px!important; font-weight: 600;"> Delay Dashboard</h3>
                                    <h5 _ngcontent-tke-c124="" style="color: #808080; font-family: Work Sans; font-size: 15px!important; font-weight: 500;">Home /  Delay Dashboard</h5></div>
                                  
                                </div>
                                </div>
                          </div>
                          <div class="col-lg-3"></div> 
                          <div class="col-lg-3 " style="margin-top:13px" >
                            <div class="" style="display: inline-block;">
  
                              <!-- <img style="width:370px" src="assets/IRUN_CV_IMG/BlueDartBrandingLOGO.svg" class="header-brand-img desktop-logo"
                                alt="logo" id="change-image"> -->
  
                            </div>
                          </div>
                          <!-- <div class="col-lg-2 " style="margin-top:13px;    text-align: center;" >
                            <div  style="display: inline-block;">
                                <a class="header-brand1">
                                  <img style="width:100px" src="assets/images/itraceit_logo1.png" class="header-brand-img desktop-logo"
                                    alt="logo" id="change-image">
      
                                </a>
                              </div>
                          </div> -->
                          <div class="d-flex align-items-center">
                            <img style="height: 100%;height: 76px;position: absolute;z-index: 44;right: 12px;" src="assets/img/logo.png" class="header-logo"  alt="">
                          </div>
                        </div>
                    </div>
  
  
                  </div>
  
                </div>
  
              </div>
            </div>
          </div>
          <!-- End HEADER -->
        </div>
      </div>
      <div class="container-flex" style=" padding: 9px;    border-bottom: 1px solid #80808042;">

        <div class="row">
  
          <!-- <div class="col-lg-12"> -->
          <div class="col-lg-1">
            <div class="row" style="display: inline-block;">
              <a data-bs-toggle="collapse" data-bs-target="#collapseExample" role="button" aria-expanded="false"
                aria-controls="collapseExample" style="font-size: 13px;font-weight: 500;">
                <i class="fa fa-filter" aria-hidden="true"
                  style="font-size: 20px;color: gray ;margin-top: 8px;"></i>FILTER
              </a>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="collapse" id="collapseExample">
              <div style="display:inline-table;">
                <ng-select class="io-set"  name="trigger_type" placeholder="Select"  [multiple]="true"[closeOnSelect]="true" 
                [items]="routeTypes"  bindLabel="route_type"  [(ngModel)]="selectedRouteType"
                >
                 <!-- <ng-option *ngFor="let item of alertData  | keyvalue" [value]="item.value">{{item.value}}</ng-option> -->

              </ng-select>
              </div>
              <!-- <div style="display:inline-table;"><button class="btn-outline-primary" (click)="SumbitFilter()">Submit</button> </div> -->
              <button _ngcontent-iwn-c232="" class="btn btn-success ms-5" style="
              padding: 4px;
              font-size: 13px;
              width: 77px;" (click)="SumbitFilter()">Submit</button>
            </div>
          </div>

        </div>
      </div>
      <div  style="overflow: auto; margin: 25px 5px;">
        <marquee style="background-color: #1D4380;">
          <table class="headerlabel">
              <tbody id="marquee-content">
                  <!-- Dynamic rows will be added here -->
              </tbody>
          </table>
      </marquee>
        <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" [fullScreen]="true" type="ball-spin-clockwise">
        </ngx-spinner>
       
        <div class="d-flex align-items-center" style="margin-left: 84%;">
    
          <input class="cutombox p-2" type="text" id="filter-text-box" placeholder="Filter..." (input)="onFilterTextBoxChanged()" class="form-control mb-2" />
          
              <button (click)="exportExcel()" style="font-weight: bold"><i class="fa fa-file-excel-o" style="font-size: 18px;color: #1D6F42"></i>
              </button>
              <button (click)="onBtExport()" style="font-weight: bold"><i class="fa fa-file-pdf-o" style="font-size: 18px;color: #1D6F42"></i>
              </button>
              <button (click)="exportToPDF()"><i class="fa fa-file-pdf-o" style="font-size: 18px;color: #F40F02;"></i></button>
        
        </div>
        <div id="myGrid" style=" width: 100%;" class="ag-theme-alpine grid_table "></div>
       
      </div>
    </div>
</div>
<!-- MAP MODAL -->
<div class="modal fade" id="v_track_Modal" tabindex="-1" aria-labelledby="mapModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" style="width:1000px; max-width:1300px;position: relative;">
      <div class="modal-content" style="height: 634px;">

    <div class="modal-header">
      <!-- <h6 class="modal-title" id="exampleModalLabel">{{map_flag}}</h6> -->
      <button type="button" class="btn-close btn-sm" data-bs-dismiss="modal" aria-label="Close"
        ></button>
        <!-- (click)="closeMap()" -->
    </div>
    <div class="modal-body">
    
      <div id="map2">


      </div>
    </div>
    <div class="modal-footer">
      <!-- stored_imei -->
       <ng-container *ngFor="let item of stored_imei ;let ind=index">
        <ng-container *ngIf="item!==''" >
      <button  type="button" (click)="vehicleTrackF_new(item, '', '', stored_data[0], stored_data[1], '', '', stored_data[2]) ">
        <i class="fa fa-map-marker" tooltipClass="customInactive-tooltip-class" [ngbTooltip]="item" 
          style="font-size: 20px;color: #1D6F42; " id="blink"
        ></i><span>{{ind+1}}</span></button>
       </ng-container>
      </ng-container>
    </div>
  </div>
</div>
</div>