<!-- <div class="card">
    <div class="">
        <div class="card-body innerdiv" style="padding: 0; ">


           


            <div class="header hor-header">
                <div class="">
                    <div>

                        <div>


                            <div style="margin-top:8px;">


                                <div aria-label="Basic example" id="header-button">


                                    <div class="col-lg-12" style="margin-top: 10px;">
                                        <div class="row">
                                           

                                            <div class="col-lg-1">
                                                <button class="app-sidebar__toggle ms-auto"
                                                    (click)="sidebarToggle()"></button>
                                                    
                                            </div>
                                            <div class="col-lg-1">
                                                <a href="">
                                                    <i class="fa fa-sign-out" style="font-size:24px;color:red"></i>
                                                </a>
                                            </div>
                                            <div class="col-lg-1"></div>
                                            <div class="col-lg-4"
                                                style="font-weight: 600;font-size:large ;text-align: center;margin-top: -4px;">
                                                <span style="margin-right: -104px;">Transporter Consolidated Dashboard
                                                </span>

                                            </div>
                                            <div class="col-lg-3">
                                               

                                            </div>
                                            <div class="col-lg-1"></div>
                                            <div class="col-lg-1" style="display: inline-block;">

                                              

                                                <a class="header-brand1">
                                                    <img src="assets/images/itraceit_logo1.png" alt="logo"
                                                        id="change-image" class="header-brand-img desktop-logo"
                                                        style="height: 112%;width: 54%;"></a>
                                               

                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="card">
  <div class="card-body innerdiv p-0">
    <!-- headerstart here -->
    <div class="hor-header">
      <div style="overflow: hidden;">
        <div class="row align-items-left">
          <div  class="col-lg-1">
            <button class="app-sidebar__toggle ms-auto" (click)="sidebarToggle()"></button>
          </div>
          <div class="col-lg-2"></div>
          <div class="col-lg-4" style="font-weight: 600;font-size:large ;text-align: center;margin-top: 15px;">
            <span style="margin-right: -104px;">Transporter Consolidated Dashboard
            </span>

          </div>
          <div class="col-lg-2 text-center">

          </div>
         
          <div class="col-lg-1"></div>
          <div class="col-lg-1">
            <!-- <a  routerLink="/ILgic/createTrip"><i class="fa fa-plus-circle" aria-hidden="true" style="font-size: 20px;color: #1D4380;"></i></a>  -->
          </div>
          <div class="col-lg-1 text-center">
            <a class="header-brand1">
              <img src="assets/images/itraceit_logo1.png" alt="ILGIC Logo" class="header-brand-img desktop-logo"
                style="height: auto; width: 80%;">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /////////////////////////////////////folter////////////////////////////// -->
<div style=" margin-left: 5px;margin-top: -25px;
margin-right: 5px;border-bottom: 2px solid #e8ebed; ">
<div class="col-lg-12">
<div class="fiter">
<p>
  <a data-bs-toggle="collapse" data-bs-target="#collapseExample" role="button" aria-expanded="false"
      aria-controls="collapseExample" style="font-size: 16px;">
      <i class="fa fa-filter" aria-hidden="true"
          style="font-size: 20px;color: gray ;margin-top: 8px;"></i>FILTER
  </a>

</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body" style="border: none ; box-shadow: none;">
      <form #filterForm="ngForm" (ngSubmit)="filterSubmitTransporter(filterForm.value)">
          <div class="col-lg-12">
              <div class="row">
                  <div class="col-lg-2">
                      <span class="filtor_name">From</span>
                      <input type="datetime-local" class="form-control" [ngModel]="datetimepicker1"
                          required name="from_time" />
                  </div>
                  <div class="col-lg-2">
                      <span class="filtor_name">To</span>
                      <input type="datetime-local" class="form-control" [ngModel]="currentDateTime"
                          required name="To_time" />
                  </div>
                
                
               
                  <div class="col-lg-2">
                      <span class="filtor_name">GPS Vendor</span>
                      <ng-select name="Purchage_Center" placeholder="Select Depot" id="ShipmentNo"
                          style="font-size: 14px;font-weight: 400;" [ngModel]="ShipmentNo"
                          [closeOnSelect]="true" [multiple]="false">
                          <!-- <ng-option >--Select Purchage Center--</ng-option> -->
                          <!-- <ng-select name="Region_type" placeholder="Select Region" id="ShipmentNo"
        [ngModel]="ShipmentNo" [multiple]="true" [closeOnSelect]="true"> -->

                          <!-- <ng-option [value]="item"
                              *ngFor="let item of purches |keyvalue">{{item.value}}</ng-option> -->







                      </ng-select>
                  </div>
                 

              </div>&nbsp;
              
                
                  <div class="col-lg-2">

                      <button type="submit" data-bs-toggle="collapse" data-bs-target="#collapseExample"
                          class="btn btn-outline-primary btn-sm" style="margin-top: 22px;">Submit</button>
                  </div>
            
          </div>
      </form>

  </div>
</div>
<!-- <div class=" " ><i class="fa fa-filter" aria-hidden="true"></i></div>    -->
</div>
</div>



</div>
<!-- ///////////////////////////////////////////////////////////////////////////////////////////// -->
<div class="col-lg-12" style="margin-top: -20px;">
  <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" [fullScreen]="true" type="ball-spin-clockwise">
    <p style="color: black">Please Wait.. </p>
  </ngx-spinner>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-0">
        <div class="card status-card">
          <div class="card-body">
            <h5 class="card-title">Vehicle Status
            </h5>
            <div class="row">
              <div class="col-6 mt-4">
                <div id="consSt" class="chart-container"></div>
              </div>
              <div class="col-6" style="margin-top: -33px;text-align-last: right;">
                <img src="assets/images/vehiclestatusnew.png" alt="Vehicle Status" style="height: 50%;">
              </div>
              <div class="col-12 mt-0 custom">
                <span class="status-text" style="color:#6ABD46;"
                  id="numberH">{{SummaryData?.vehicleStatus?.running}}</span>/
                <span class="status-text" style="color:red;"
                  id="numberH">{{SummaryData?.vehicleStatus?.stoppage}}</span>/
                <span class="status-text" style="color:grey;"
                  id="numberH">{{SummaryData?.vehicleStatus?.inactive}}</span>/
                <span class="status-text" style="color:#1D4380;"
                  id="numberH">{{SummaryData?.vehicleStatus?.nongps}}</span>
              </div>
            </div>

            <div class="status-legend mt-2">
              <span style="color:#6ABD46;">
                <i class='fas fa-square-full' style="margin-right: 2px;"></i> Running
              </span>
              <span style="color:red;">
                <i class='fas fa-square-full' style="margin-right: 2px;"></i> Stop
              </span>
              <span style="color:grey;">
                <i class='fas fa-square-full' style="margin-right: 2px;"></i> In-Active
              </span>
              <span style="color:#1D4380;">
                <i class='fas fa-square-full' style="margin-right: 2px;"></i> Non GPS
              </span>
            </div>

          </div>
        </div>
      </div>
      <!-- Repeat similar structure for other cards -->
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-0">
        <div class="card status-card">
          <div class="card-body">
            <h5 class="card-title">IoT</h5>
            <div class="row">
              <div class="col-6 mt-4">
                <div id="deliverySt" class="chart-container"></div>
              </div>
              <div class="col-6" style="margin-top: -30px;text-align-last: right;">
                <img src="assets/images/iot.png" alt="Delivery Status" style="height: 50%">
              </div>
              <div class="col-12 mt-0 custom">
                <span class="status-text" style="color:#EC6625;" id="numberH">{{SummaryData?.Iot?.gps}}</span>/
                <span class="status-text" style="color:#1D4380;" id="numberH">{{SummaryData?.Iot?.elock}}</span>/
                <span class="status-text" style="color:grey;" id="numberH">{{SummaryData?.Iot?.fuelsensor}}</span>

              </div>
            </div>
            <div class="status-legend mt-2">
              <span style="color:#EC6625;"><i class='fas fa-square-full' style="margin-right: 2px;"></i>GPS</span>
              <span style="color:#1D4380;"><i class='fas fa-square-full' style="margin-right: 2px;"></i>E-Lock</span>
              <span style="color:grey;"><i class='fas fa-square-full' style="margin-right: 2px;"></i>Fuel
                Sensor</span>

            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-0">
        <div class="card status-card">
          <div class="card-body">
            <h5 class="card-title">Vehicle Utilization
            </h5>
            <div class="row">
              <div class="col-6 mt-4">
                <div id="tripSt" class="chart-container"></div>
              </div>
              <div class="col-6" style="margin-top: -33px;text-align-last: right;">
                <img src="assets/images/Delivery Status.png" alt="Trip Status" style="height: 40%;">
              </div>
              <div class="col-12 mt-0 custom">
                <!-- <span class="status-text" style="color:#EC6625;"
                                    (click)="tripSTtAct('TripStatus','PartialDelivered')"
                                    id="numberH">{{SummaryData?.vehicle_utilization?.utilized}}</span>/ -->

                <span class="status-text" style="color:#1D4380;"
                  id="numberH">{{SummaryData?.vehicle_utilization?.utilize_count}}</span>/
                <span class="status-text" style="color:red;"
                  id="numberH">{{SummaryData?.vehicle_utilization?.non_utilize_count}}</span>


              </div>
            </div>
            <div class="status-legend mt-2">
              <!-- <span style="color:#EC6625;"><i class='fas fa-square-full'
                                    style="margin-right: 2px;"></i>Utilized</span> -->
              <span style="color: #1D4380 ;"><i class='fas fa-square-full'
                  style="margin-right: 2px;"></i>Utilized</span>
              <span style="color:red;"><i class='fas fa-square-full' style="margin-right: 2px;"></i>Not
                utilized</span>


            </div>
          </div>
        </div>
      </div>
      <!-- Repeat similar structure for other cards -->

      <!-- Repeat similar structure for other cards -->

    </div>
  </div>
  <!-- //////////////////////////////////////////////////////////////////////////////////////// -->


</div>
<!-- ////////////////////////////////////////////////////////////////////////////////////// -->
<!-- <div class="card"> -->
<div class="container" >
  <div class="row" >
    <div class="col-md-6 col-sm-12">
      <div class="chart-container3">
        <div id="barchart2"></div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12" >
      <div class="chart-container3" style="overflow: hidden;">
        <div id="barchart1"  ></div>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->
<div class="modal fade" id="vehicleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
  data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">

      <div class="modal-header" style="height: 45px;">

        <div class="centered-text">
          Vehicle Status-{{typeName}} Report
        </div>

        <!-- <form #triggerHistoryForm="ngForm" (ngSubmit)="triggerHstSubmit(triggerHistoryForm.value)"> -->



        <!-- </form> -->
        <button type="button" class="btn-close btn-sm" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">



        <div style="overflow-y: auto;">
          <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" [fullScreen]="true" type="ball-spin-clockwise"
            name="summeryvehi">
            <p style="color: black">Please Wait.. </p>
          </ngx-spinner>
          <table class="display nowrap  table" cellspacing="0" id="vehicleTable" width="100%">
            <thead>
              <tr style="text-align: center;">
                <th class="table-primary">S.No.</th>

                <th class="table-primary">Vehicle Number</th>
                <th class="table-primary">Status</th>

                <th class="table-primary">Speed</th>
                <th class="table-primary">Battery</th>

                <th class="table-primary">Current Date
                </th>
                <th class="table-primary">Last Halt
                </th>
                <th class="table-primary">Ignition</th>
                <th class="table-primary">IOT</th>
                <th class="table-primary">Current Location
                </th>
                <th class="table-primary">GPS Service provider

                </th>





              </tr>

            </thead>
            <tbody>
              <tr style="text-align: center;" *ngFor="let item of summaryVehicle[0];let ind=index">
                <td>{{ind+1}}</td>



                <td>{{item.vehicle_no}}</td>
                <td>{{item?.vehicle_status}}</td>
                <td>{{item.speed}}</td>
                <td>{{item?.battery}}</td>


                <!-- <td>{{item?.speed}}</td> -->

                <td>{{item.current_date}}</td>
                <td>{{item.last_halt}}</td>
                <td>{{item.ignition}}</td>
                <td>{{item.iot}}</td>
                <td>{{item.current_location}}</td>
                <td>{{item.gps_service_provider}}</td>





              </tr>
            </tbody>
          </table>
        </div>

      </div>



    </div>

  </div>
</div>
<!-- /////////////////////////////////////vehicle utilization/////////////////////////////////////////// -->
<div class="modal fade" id="utilization" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
  data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">

      <div class="modal-header" style="height: 45px;">

        <div class="centered-text">
          Customer -{{typeName}} Report
        </div>

        <!-- <form #triggerHistoryForm="ngForm" (ngSubmit)="triggerHstSubmit(triggerHistoryForm.value)"> -->



        <!-- </form> -->
        <button type="button" class="btn-close btn-sm" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">





        <div style="overflow-y: auto;">
          <!-- <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" [fullScreen]="true" type="ball-spin-clockwise"
          name="summeryvehi">
          <p style="color: black">Please Wait.. </p>
        </ngx-spinner> -->
          <table class="display nowrap  table" cellspacing="0" id="utilizationTable" width="100%">
            <thead>
              <tr style="text-align: center;">
                <th class="table-primary">S.No.</th>

                <th class="table-primary">Vehicle
                </th>
                <th class="table-primary">Status</th>
                <th class="table-primary">Distance Travelled

                </th>
                <th class="table-primary">Travel Duration (Hrs.)


                </th>
                <th class="table-primary">Trips

                </th>
                <th class="table-primary">Transporter
                </th>
                <th class="table-primary">GPS Service provider

                </th>





              </tr>

            </thead>
            <tbody>
              <tr style="text-align: center;" *ngFor="let item of (summaryVehicle[0]);let ind=index">





                <td>{{ind+1}}</td>
                <td>{{item.vehicle_no}}</td>
                <td>{{item.vehicle_status}}</td>
                <td>{{item.distance_travel}}</td>
                <td>{{item.travel_duration}}</td>
                <td>{{item.trips}}</td>
                <td>{{item.transporter}}</td>
                <td>{{item.gps_service_provider}}</td>







              </tr>
            </tbody>
          </table>
        </div>

      </div>



    </div>

  </div>
</div>
<!-- /////////////////////////////////////Iot/////////////////////////////////////////// -->
<div class="modal fade" id="IotModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
  data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">

      <div class="modal-header" style="height: 45px;">

        <div class="centered-text">
          IOT-{{typeName}} Report
        </div>

        <!-- <form #triggerHistoryForm="ngForm" (ngSubmit)="triggerHstSubmit(triggerHistoryForm.value)"> -->



        <!-- </form> -->
        <button type="button" class="btn-close btn-sm" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">





        <div style="overflow-y: auto;">
          <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" [fullScreen]="true" type="ball-spin-clockwise"
            name="summeryvehi">
            <p style="color: black">Please Wait.. </p>
          </ngx-spinner>
          <table class="display nowrap  table" cellspacing="0" id="IotTable" width="100%">
            <thead>
              <tr style="text-align: center;">
                <th class="table-primary">S.No.</th>

                <th class="table-primary">Vehicle Number</th>
                <th class="table-primary">Status</th>

                <th class="table-primary">Speed</th>
                <th class="table-primary">Battery</th>

                <th class="table-primary">Current Date
                </th>
                <th class="table-primary">Last Halt
                </th>
                <th class="table-primary">Ignition</th>
                <th class="table-primary">IOT</th>
                <th class="table-primary">Current Location
                </th>
                <th class="table-primary">GPS Service provider

                </th>





              </tr>

            </thead>
            <tbody>
              <tr style="text-align: center;" *ngFor="let item of summaryVehicle[0];let ind=index">
                <td>{{ind+1}}</td>



                <td>{{item.vehicle_no}}</td>
                <td>{{item?.vehicle_status}}</td>
                <td>{{item.speed}}</td>
                <td>{{item?.battery}}</td>


                <!-- <td>{{item?.speed}}</td> -->

                <td>{{item.current_date}}</td>
                <td>{{item.last_halt}}</td>
                <td>{{item.ignition}}</td>
                <td>{{item.iot}}</td>
                <td>{{item.current_location}}</td>
                <td>{{item.gps_service_provider}}</td>





              </tr>
            </tbody>
          </table>
        </div>

      </div>

      <!-- <div class="modal-footer" >


           <i class="fe fe-truck" tooltipClass="customActive-tooltip-class" ngbTooltip="Device 1"
          style="font-size: 20px;color: blue;" id="blink"></i>
         <i class="fe fe-truck" tooltipClass="customInStopped-tooltip-class" ngbTooltip="Device 2"
          style="font-size: 20px;color: red;" id="blink"></i> -->


      <!-- <button type="button" class="btn btn" data-bs-dismiss="modal"
            style="background-color:#1c84c6;border-color: #1c84c6;color: white ;">Close</button> -->

      <!-- </div> -->

    </div>

  </div>
</div>